[submodule "foundation"]
	path = foundation
	url = git@github.com:markmhendrickson/foundation.git
[submodule "docs/private"]
	path = docs/private
	url = https://github.com/markmhendrickson/neotoma-docs-private
[submodule "mcp/web-scraper"]
	path = mcp/web-scraper
	url = https://github.com/markmhendrickson/mcp-server-web-scraper.git
[submodule "frontend/src/shared"]
	path = frontend/src/shared
	url = git@github.com:markmhendrickson/react-components.git
