# yaml-language-server: $schema=https://spec.openapis.org/oas/3.1/schema/2022-10-07
openapi: 3.1.0
info:
  title: Neotoma API
  version: 1.0.0
  description: REST API for Neotoma. Use with any HTTP client, including ChatGPT Actions, Claude, Cursor, MCP servers, CLI tools, and custom integrations.
servers:
  - url: https://mcp.neotoma.io
    description: Set from NEOTOMA_HOST_URL when served by the API; default shown for static/codegen use.
  - url: http://localhost:3080
    description: Local development server
security:
  - bearerAuth: []
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT or base64url
      description: |
        Supported bearer tokens:
        - MCP OAuth JWT (recommended for CLI and web clients)
        - base64url-encoded Ed25519 public key (legacy encrypted responses)
        Optional: Include request signature in Authorization header: "Bearer <public_key> Signature <signature>"
  schemas:
    FileUrlResponse:
      type: object
      properties:
        url:
          type: string
          description: Signed URL for accessing the file
    Error:
      type: object
      properties:
        error:
          type: string
    ErrorEnvelope:
      type: object
      properties:
        error_code:
          type: string
        message:
          type: string
        details:
          type: object
          additionalProperties: true
        trace_id:
          type: string
        timestamp:
          type: string
          format: date-time
    RecentConversationRelatedEntity:
      type: object
      properties:
        entity_id:
          type: string
        entity_type:
          type: string
          nullable: true
        canonical_name:
          type: string
          nullable: true
        title:
          type: string
          nullable: true
        relationship_type:
          type: string
    ConversationTurnHookSummary:
      type: object
      properties:
        hook_event_count:
          type: integer
        tool_invocation_count:
          type: integer
        store_structured_calls:
          type: integer
        retrieve_calls:
          type: integer
        retrieved_entity_count:
          type: integer
        stored_entity_count:
          type: integer
        neotoma_tool_failures:
          type: integer
    RecentConversationMessage:
      type: object
      properties:
        message_id:
          type: string
        canonical_name:
          type: string
          nullable: true
        role:
          type: string
          nullable: true
        sender_kind:
          type: string
          nullable: true
        content:
          type: string
          nullable: true
        turn_key:
          type: string
          nullable: true
        activity_at:
          type: string
        related_entities:
          type: array
          items:
            $ref: "#/components/schemas/RecentConversationRelatedEntity"
        hook_summary:
          anyOf:
            - type: "null"
            - $ref: "#/components/schemas/ConversationTurnHookSummary"
    RecentConversationItem:
      type: object
      properties:
        conversation_id:
          type: string
        canonical_name:
          type: string
          nullable: true
        title:
          type: string
          nullable: true
        activity_at:
          type: string
        message_count:
          type: integer
        latest_write_provenance:
          type: object
          nullable: true
          additionalProperties: true
        messages:
          type: array
          items:
            $ref: "#/components/schemas/RecentConversationMessage"
    StoreResolutionIssue:
      type: object
      description: |
        A single per-observation failure inside an
        `ERR_STORE_RESOLUTION_FAILED` response.
      properties:
        observation_index:
          type: integer
          description: Index of the offending entity in the request `entities` array.
        entity_type:
          type: string
        code:
          type: string
          enum:
            - ERR_CANONICAL_NAME_UNRESOLVED
            - ERR_MERGE_REFUSED
            - ERR_CONVERSATION_MESSAGE_ROLE_CONFLICT
            - ERR_RELATIONSHIP_ENTITY_ID_FORMAT
        message:
          type: string
        details:
          type: object
          additionalProperties: true
          description: |
            Code-specific context (e.g. `seen_fields`, `attempted_value`,
            `entity_id`, `canonical_name`, `resolver_path`).
        hint:
          oneOf:
            - type: string
            - type: object
              required:
                - text
              properties:
                text:
                  type: string
                  description: |
                    Short, actionable instruction for the caller (e.g. "Declare
                    `conversation_id` on entity_type \"conversation\"…"). PII-free.
                required_identity_fields:
                  $ref: "#/components/schemas/RequiredIdentityFields"
          description: |
            Optional structured upgrade guidance. Populated when the server can
            detect a common caller mistake (e.g. wrapping fields inside
            `attributes`) or when a schema with `name_collision_policy: reject`
            refuses a heuristic merge (R4 — then `required_identity_fields`
            carries the schema-derived identity key list). PII-free by
            construction. Consumers MAY display `text` verbatim to end users
            and MAY key on `required_identity_fields` programmatically to
            compose a corrected payload without parsing prose.
    RequiredIdentityFields:
      type: object
      description: |
        R4: schema-derived minimum identity payload for an `entity_type`.
        Surfaced inside `StoreResolutionIssue.hint.required_identity_fields`
        when a schema `name_collision_policy: reject` refuses a heuristic
        merge, and exposed by the MCP tool surface so agents can compose
        deterministic writes without per-type knowledge. Generated from
        `SchemaDefinition.canonical_name_fields` — adding a new reject-policy
        schema automatically extends the contract.
      required:
        - entity_type
        - required
        - any_of_fields
        - composite_fields
      properties:
        entity_type:
          type: string
        required:
          type: boolean
          description: |
            `true` when the schema declares `name_collision_policy: "reject"`.
            When `false`, the fields are informational — the caller MAY still
            benefit from supplying them to avoid heuristic matching warnings.
        any_of_fields:
          type: array
          items:
            type: string
          description: |
            Single-field canonical rules. Supplying ANY one of these on the
            payload is sufficient to satisfy the schema-level identity rule.
        composite_fields:
          type: array
          items:
            type: array
            items:
              type: string
          description: |
            Composite canonical rules. EVERY field in at least ONE composite
            group must be present to satisfy that group.
    StoreResolutionErrorEnvelope:
      type: object
      description: |
        400 response shape for `ERR_STORE_RESOLUTION_FAILED`. Distinct from the
        generic `ErrorEnvelope` because it carries a per-observation `issues`
        array rather than a free-form `details` object.
      properties:
        error:
          type: object
          properties:
            code:
              type: string
              enum:
                - ERR_STORE_RESOLUTION_FAILED
            message:
              type: string
            issues:
              type: array
              items:
                $ref: "#/components/schemas/StoreResolutionIssue"
    ConstraintViolationErrorEnvelope:
      type: object
      description: |
        400 response shape for `ERR_CONSTRAINT_VIOLATION`. Returned by `/store`
        when one or more observations fail a declarative write-time value
        constraint declared on their schema (constraint `policy: "reject"`). The
        `issues` array carries one entry per failing observation; each entry
        identifies the observation by its zero-based `observation_index` in the
        request `entities[]` array, the `entity_type`, and a human-readable
        `message` describing which constraint rule was violated. No partial write
        is performed — the entire request is rejected atomically.
      properties:
        error:
          type: object
          properties:
            code:
              type: string
              enum:
                - ERR_CONSTRAINT_VIOLATION
            message:
              type: string
            issues:
              type: array
              items:
                type: object
                properties:
                  observation_index:
                    type: integer
                    description: |
                      Zero-based index into the request `entities[]` array
                      identifying which observation failed constraint validation.
                  entity_type:
                    type: string
                    description: Entity type of the offending observation.
                  message:
                    type: string
                    description: Human-readable description of the constraint violation.
    SplitPredicate:
      type: object
      description: |
        R5: declarative predicate describing which observations of the source
        entity should be re-pointed onto the new entity. Every form reads a
        column every observation row carries so the predicate surface is
        schema-agnostic. At least one form MUST be supplied.
      properties:
        observed_at_gte:
          type: string
          format: date-time
          description: |
            Match observations whose `observed_at` is >= this ISO-8601
            timestamp. Primary use case: "move every observation from this
            session forward onto a new entity".
        source_id_in:
          type: array
          items:
            type: string
          description: |
            Match observations whose `source_id` is one of the listed
            sources. Useful when a single over-merged entity collected
            observations from distinct sources that should live on separate
            entities.
        observation_field_equals:
          type: object
          required:
            - field
          properties:
            field:
              type: string
              description: Observation `fields.<field>` to compare.
            value:
              type: string
              description: String-equals comparison (no type coercion).
            value_starts_with:
              type: string
              description: String-prefix comparison (no type coercion).
    SplitEntityRequest:
      type: object
      required:
        - source_entity_id
        - predicate
        - new_entity
        - idempotency_key
      properties:
        source_entity_id:
          type: string
        predicate:
          $ref: "#/components/schemas/SplitPredicate"
        new_entity:
          type: object
          required:
            - entity_type
            - canonical_name
          properties:
            entity_type:
              type: string
            canonical_name:
              type: string
            target_entity_id:
              type: string
              description: |
                Optional — re-point matched observations onto a pre-existing
                entity id instead of deriving a new deterministic id.
        idempotency_key:
          type: string
          description: |
            Required per MUST #11. Reuse with a different predicate returns
            `ERR_IDEMPOTENCY_MISMATCH`; reuse with the same predicate returns
            the original split result (`replayed: true`).
        reason:
          type: string
          description: Free-text rationale recorded on the audit row.
        user_id:
          type: string
    SplitEntityResponse:
      type: object
      required:
        - split_id
        - source_entity_id
        - new_entity_id
        - observations_moved
        - split_at
        - replayed
      properties:
        split_id:
          type: string
        source_entity_id:
          type: string
        new_entity_id:
          type: string
        observations_moved:
          type: integer
          description: Number of observations whose `entity_id` was re-pointed.
        split_at:
          type: string
          format: date-time
        replayed:
          type: boolean
          description: |
            `true` when the response is an idempotent replay of a prior
            identical split (same `user_id` + `idempotency_key` + predicate).
    AgentAttribution:
      type: object
      description: |
        Agent-identity provenance recorded on every durable write-path record
        (observations, relationships, sources, interpretations, timeline
        events). Fields are stamped additively into the existing provenance
        JSON blob on each record so no schema migration was required; the
        shape below documents the keys consumers can rely on.

        When AAuth is active the `agent_*` keys carry the cryptographically
        verified identity; `client_name`/`client_version` come from the MCP
        `initialize.clientInfo` fallback and are self-reported. Every field
        is optional; callers MUST treat a missing key as "no evidence at
        that tier" and rely on `attribution_tier` for the trust signal.
      properties:
        agent_public_key:
          type: string
          description: Raw JWK-serialised public key used for the HTTP signature.
        agent_thumbprint:
          type: string
          description: RFC 7638 JWK thumbprint of `agent_public_key`; stable across sessions.
        agent_algorithm:
          type: string
          description: HTTP Message Signature algorithm (`ES256`, `EdDSA`, …).
        agent_sub:
          type: string
          description: "`sub` claim of the `aa-agent+jwt` agent token."
        agent_iss:
          type: string
          description: "`iss` claim (issuer URL) of the agent token."
        client_name:
          type: string
          description: "Self-reported MCP `initialize.clientInfo.name`. NOT verified."
        client_version:
          type: string
          description: "Self-reported MCP `initialize.clientInfo.version`."
        connection_id:
          type: string
          description: Existing OAuth connection id when the request is OAuth-authenticated.
        attribution_tier:
          type: string
          enum:
            - hardware
            - operator_attested
            - software
            - unverified_client
            - anonymous
          description: Derived trust tier; see `src/crypto/agent_identity.ts`.
        attributed_at:
          type: string
          format: date-time
          description: ISO-8601 timestamp when the attribution block was stamped.
    AttributionPolicySnapshot:
      type: object
      description: |
        Active attribution policy for the Neotoma instance. Governs how
        anonymous (unattributed) and sub-tier writes are handled on each
        write path. Ships defaults that preserve historical behaviour
        (`anonymous_writes: allow`, no `min_tier`).
      required:
        - anonymous_writes
      properties:
        anonymous_writes:
          type: string
          enum: [allow, warn, reject]
          description: |
            Global policy mode applied to writes whose resolved
            `attribution_tier` is `anonymous`.
        min_tier:
          type: string
          enum: [hardware, operator_attested, software, unverified_client]
          description: |
            Optional floor tier; writes with a resolved tier below this
            floor are rejected with `ATTRIBUTION_REQUIRED`.
        per_path:
          type: object
          additionalProperties:
            type: string
            enum: [allow, warn, reject]
          description: |
            Optional per-write-path overrides keyed by canonical write
            path (`observations`, `relationships`, `sources`,
            `interpretations`, `timeline_events`, `corrections`).
    SessionAttributionDecision:
      type: object
      description: |
        Diagnostic summary of the most recent AAuth / `clientInfo`
        resolution decision. Safe to mirror to clients; never contains
        signatures or public keys. Present only when the server has a
        decision to surface.
      required:
        - signature_present
        - signature_verified
        - resolved_tier
      properties:
        signature_present:
          type: boolean
        signature_verified:
          type: boolean
        signature_error_code:
          type: string
        client_info_raw_name:
          type: string
        client_info_normalised_to_null_reason:
          type: string
          enum: [too_generic, empty, not_a_string]
        resolved_tier:
          type: string
          enum: [hardware, operator_attested, software, unverified_client, anonymous]
        attestation:
          type: object
          nullable: true
          description: |
            Outcome of the `cnf.attestation` envelope verifier. Always
            present on AAuth-verified requests (with `verified: false,
            format: "unknown", reason: "not_present"` when no envelope
            was supplied) and absent on unsigned requests.
          required:
            - verified
            - format
          properties:
            verified:
              type: boolean
            format:
              type: string
              enum:
                - apple-secure-enclave
                - webauthn-packed
                - tpm2
                - unknown
            reason:
              type: string
              description: |
                Failure reason; only present when `verified=false`.
              enum:
                - not_present
                - unsupported_format
                - key_binding_failed
                - challenge_mismatch
                - chain_invalid
                - signature_invalid
                - aaguid_not_trusted
                - pubarea_mismatch
                - not_implemented
                - malformed
        operator_allowlist_source:
          type: string
          description: |
            Set when the operator allowlist promoted the request to
            `operator_attested`. `"issuer"` means a hit on
            `NEOTOMA_OPERATOR_ATTESTED_ISSUERS`; `"issuer_subject"` means
            a hit on `NEOTOMA_OPERATOR_ATTESTED_SUBS`.
          enum: [issuer, issuer_subject]
    SessionInfo:
      type: object
      description: |
        Resolved attribution and policy for the current session. Returned
        by `GET /session` and the MCP `get_session_identity` tool.
      required:
        - user_id
        - attribution
        - aauth
        - policy
        - eligible_for_trusted_writes
      properties:
        user_id:
          type: string
        attribution:
          type: object
          required:
            - tier
          properties:
            tier:
              type: string
              enum: [hardware, operator_attested, software, unverified_client, anonymous]
            agent_thumbprint:
              type: string
            agent_sub:
              type: string
            agent_iss:
              type: string
            agent_algorithm:
              type: string
            agent_public_key:
              type: string
            client_name:
              type: string
            client_version:
              type: string
            connection_id:
              type: string
            decision:
              nullable: true
              allOf:
                - $ref: "#/components/schemas/SessionAttributionDecision"
        aauth:
          type: object
          description: |
            AAuth admission summary. Verified means the request carried a
            verified AAuth signature. Admitted means Neotoma resolved
            that signature to one of this user's `agent_grant` entities
            and is treating the caller as authenticated. The two are
            independent: a verified-but-unmatched signature stays
            attribution-only and `admitted` is `false`.
          required:
            - verified
            - admitted
            - grant_id
            - admission_reason
          properties:
            verified:
              type: boolean
            admitted:
              type: boolean
            grant_id:
              type: string
              nullable: true
            admission_reason:
              type: string
              nullable: true
              enum:
                - admitted
                - no_grants_for_user
                - no_match
                - grant_revoked
                - grant_suspended
                - strict_rejected
                - aauth_disabled
                - not_signed
            agent_label:
              type: string
        policy:
          $ref: "#/components/schemas/AttributionPolicySnapshot"
        eligible_for_trusted_writes:
          type: boolean
          description: |
            Convenience flag mirroring the check
            `enforceAttributionPolicy('observations', identity)` would
            make on the default write path. Admission alone does NOT
            override this — admitted callers still need a tier that
            satisfies the active write attribution policy.
        origins:
          type: object
          description: |
            Browser origins agents may safely use for user-visible links.
            Omitted when the server cannot determine the connected
            instance origin; callers must not guess a sandbox or localhost
            fallback when absent.
          properties:
            app_origin:
              type: string
              description: Canonical origin for browser app links.
            inspector_origin:
              type: string
              description: Canonical origin for Inspector/app entity pages.
            source:
              type: string
              enum: [configured, request]
              description: How the origin was resolved.
    AgentDirectoryEntry:
      type: object
      description: |
        One row returned by `/agents`. Aggregates a distinct agent's
        writes across observations, sources, timeline events,
        interpretations, and relationship observations.
      required:
        - agent_key
        - label
        - tier
        - first_seen_at
        - last_seen_at
        - total_records
        - record_counts
      properties:
        agent_key:
          type: string
          description: |
            Stable identifier: `thumb:<thumbprint>` |
            `sub:<subject>` | `name:<client>[@version]` | `anonymous`.
        label:
          type: string
          description: Short human-readable label for display.
        tier:
          type: string
          enum:
            - hardware
            - operator_attested
            - software
            - unverified_client
            - anonymous
        agent_thumbprint:
          type: string
          nullable: true
        agent_public_key:
          type: string
          nullable: true
        agent_algorithm:
          type: string
          nullable: true
        agent_sub:
          type: string
          nullable: true
        agent_iss:
          type: string
          nullable: true
        client_name:
          type: string
          nullable: true
        client_version:
          type: string
          nullable: true
        first_seen_at:
          type: string
          nullable: true
        last_seen_at:
          type: string
          nullable: true
        total_records:
          type: integer
        record_counts:
          type: object
          additionalProperties:
            type: integer
          description: |
            Per record-type count (`observation`, `source`,
            `interpretation`, `timeline_event`, `relationship`).
            Missing buckets mean zero.
        observation_entity_type_counts:
          type: object
          additionalProperties:
            type: integer
          description: |
            For each distinct agent, counts of **observation** rows grouped
            by the target entity's `entity_type` (join `entities` on
            `observations.entity_id`). Surfaces who submitted
            `issue` reports, who touched protected `agent_grant` rows,
            `issue` sync traffic, etc. Omitted when no typed observations
            exist for that agent.
    AgentCapabilityEntry:
      type: object
      required:
        - op
        - entity_types
      properties:
        op:
          type: string
          enum:
            - store
            - store_structured
            - create_relationship
            - correct
            - retrieve
            - github_harness:read
            - github_harness:write
            - "github_harness:*"
        entity_types:
          type: array
          items:
            type: string
          description: |
            Allowed entity types for this op. The single string `*` widens
            to any entity_type that is not protected (see
            `protected_entity_types`). Empty array is valid for
            `github_harness:*` ops, which use `repos` instead.
        repos:
          type: array
          items:
            type: string
          description: |
            Repo-scope for `github_harness:*` ops. List of `owner/repo`
            strings. The single string `*` wildcards any repo. Only
            meaningful for `github_harness:*` ops; ignored for
            Neotoma-native ops.
    AgentGrant:
      type: object
      description: |
        First-class persistent grant that admits a verified AAuth
        identity as the owning user, with the listed capabilities. See
        `docs/subsystems/agent_attribution_integration.md` for the
        admission flow.
      required:
        - grant_id
        - user_id
        - label
        - capabilities
        - status
      properties:
        grant_id:
          type: string
        user_id:
          type: string
        label:
          type: string
        capabilities:
          type: array
          items:
            $ref: "#/components/schemas/AgentCapabilityEntry"
        status:
          type: string
          enum: [active, suspended, revoked]
        match_sub:
          type: string
          nullable: true
        match_iss:
          type: string
          nullable: true
        match_thumbprint:
          type: string
          nullable: true
        notes:
          type: string
          nullable: true
        last_used_at:
          type: string
          nullable: true
        import_source:
          type: string
          nullable: true
          description: |
            Provenance marker (e.g. `env_config`) when the grant was
            backfilled from legacy capability configuration via the
            `neotoma agents grants import` CLI.
        created_at:
          type: string
          nullable: true
        last_observation_at:
          type: string
          nullable: true
    AgentGrantCreate:
      type: object
      required:
        - label
        - capabilities
      properties:
        label:
          type: string
        capabilities:
          type: array
          items:
            $ref: "#/components/schemas/AgentCapabilityEntry"
        status:
          type: string
          enum: [active, suspended, revoked]
          default: active
        match_sub:
          type: string
          nullable: true
        match_iss:
          type: string
          nullable: true
        match_thumbprint:
          type: string
          nullable: true
        notes:
          type: string
          nullable: true
        user_id:
          type: string
          nullable: true
          description: |
            Optional owner override; only honoured when the caller is
            authenticated as that user (or the local-dev override is
            active). Admitted AAuth requests cannot pivot owners.
    AgentGrantUpdate:
      type: object
      properties:
        label:
          type: string
        capabilities:
          type: array
          items:
            $ref: "#/components/schemas/AgentCapabilityEntry"
        notes:
          type: string
          nullable: true
        match_sub:
          type: string
          nullable: true
        match_iss:
          type: string
          nullable: true
        match_thumbprint:
          type: string
          nullable: true
    Entity:
      type: object
      properties:
        id:
          type: string
        entity_type:
          type: string
        canonical_name:
          type: string
        user_id:
          type: string
        merged_to_entity_id:
          type: string
          nullable: true
        merged_at:
          type: string
          format: date-time
          nullable: true
    SignalCandidate:
      type: object
      description: A candidate entity match from identify_entity_by_signals.
      properties:
        entity_id:
          type: string
          description: The matched entity's id.
        snapshot:
          type: object
          additionalProperties: true
          nullable: true
          description: Current snapshot for the entity.
        identity_score:
          type: number
          format: float
          minimum: 0
          maximum: 1
          description: |
            Normalised weighted score in [0, 1]. Rounded to 4 decimal places.
        matched_signals:
          type: array
          items:
            type: string
          description: |
            The input signal keys that contributed to this match
            (e.g. ["email", "name"]).
        match_modes:
          type: array
          items:
            type: string
            enum: [direct, snapshot_field, semantic, none]
          description: |
            Which resolution pass(es) were used for this candidate.
        band:
          type: string
          enum: [high, medium, low, unresolved]
          description: |
            Resolution band for this candidate. high >= 0.85; medium >= 0.55;
            low >= 0.30; unresolved < 0.30. Semantic-only matches capped at
            medium.
        scoped_entity_types:
          type: array
          items:
            type: string
          description: Entity types searched during resolution.
    EntitySnapshot:
      type: object
      properties:
        entity_id:
          type: string
        entity_type:
          type: string
        schema_version:
          type: string
        snapshot:
          type: object
          additionalProperties: true
        raw_fragments:
          type: object
          additionalProperties: true
        provenance:
          type: object
          additionalProperties: true
          description: |
            Reducer provenance: a `field → observation_id` map that records
            which contributing observation produced each snapshot field.
            NOT agent-identity attribution; see `AgentAttribution` and the
            `provenance` field on the contributing `Observation` rows for
            the agent that wrote each observation.
        computed_at:
          type: string
          format: date-time
        observation_count:
          type: integer
        last_observation_at:
          type: string
          format: date-time
        canonical_name:
          type: string
          nullable: true
        merged_to_entity_id:
          type: string
          nullable: true
        merged_at:
          type: string
          format: date-time
          nullable: true
        created_at:
          type: string
          format: date-time
          nullable: true
        entity_type_label:
          type: string
          nullable: true
          description: Optional schema-derived display label for `entity_type` from `SchemaMetadata.label`.
        primary_fields:
          type: array
          nullable: true
          description: Optional ordered list of the most important snapshot fields for overview display.
          items:
            type: string
        schema_instructions:
          type: string
          nullable: true
          description: |
            Markdown instructions from the entity's schema definition. Injected into agent context
            when this entity is retrieved. Agents MUST treat this as behavioral context for the
            entity type and apply it to the current turn. Sourced from
            `SchemaDefinition.agent_instructions` on the registered schema.
        entity_instructions:
          type: string
          nullable: true
          description: |
            Markdown instructions stored on this specific entity (from the entity's snapshot
            `agent_instructions` field). Extends or overrides `schema_instructions` for this
            individual entity. Agents MUST treat this as behavioral context and apply it to the
            current turn.
    Source:
      type: object
      properties:
        id:
          type: string
        content_hash:
          type: string
        mime_type:
          type: string
        storage_url:
          type: string
        filesystem_absolute_path:
          type: string
          description: Local storage only — absolute path to raw file on disk (sources bucket under raw storage dir).
        file_size:
          type: integer
        original_filename:
          type: string
        created_at:
          type: string
          format: date-time
        user_id:
          type: string
        provenance:
          type: object
          description: |
            Source provenance. Carries agent-identity keys (see
            `AgentAttribution`) for the agent that uploaded or synthesised
            this source, alongside any free-form metadata keys supplied by
            the ingestion pipeline.
          additionalProperties: true
          allOf:
            - $ref: "#/components/schemas/AgentAttribution"
    Observation:
      type: object
      properties:
        id:
          type: string
        entity_id:
          type: string
        entity_type:
          type: string
        schema_version:
          type: string
        source_id:
          type: string
          nullable: true
        interpretation_id:
          type: string
          nullable: true
        observed_at:
          type: string
          format: date-time
        specificity_score:
          type: number
        source_priority:
          type: integer
          description: >-
            Trust/priority of this observation's source. Only affects snapshot
            resolution for fields whose merge strategy is highest_priority (set
            via register_schema reducer_config); under the default last_write
            strategy it is stored but ignored.
        observation_source:
          type: string
          nullable: true
          enum: [sensor, llm_summary, workflow_state, human, import, sync]
          description: |
            Classifies the *kind* of write that produced this observation,
            orthogonal to `source_priority` (numeric ranking) and to
            `provenance`/AAuth (which agent wrote it). One of:

            - `sensor` — ground-truth emission from a tool, hook, webhook,
              runtime telemetry, file watcher, or scheduled probe. Not
              authored by an LLM.
            - `llm_summary` — content authored by an LLM (summaries,
              extractions, inferences, generated notes).
            - `workflow_state` — deterministic state-machine transitions
              (task status advances, node exits, pipeline step outcomes).
            - `human` — direct human write (acceptance of a suggestion,
              Inspector edit, `entities correct`, manual annotation).
            - `import` — batch ingestion / ETL / scheduled imports.
            - `sync` — cross-instance replication from a configured Neotoma peer.

            Null / missing for legacy rows written before the field
            existed; writes default to `llm_summary` when unspecified
            because MCP callers are LLM-driven by construction.
        fields:
          type: object
          additionalProperties: true
        user_id:
          type: string
        source:
          type: string
          nullable: true
          description: Human-readable source label attached by `attachSourceLabelsToObservations`.
        provenance:
          type: object
          description: |
            Write-time agent attribution for this observation. Carries the
            `AgentAttribution` keys stamped by the AAuth middleware and
            MCP `initialize.clientInfo` fallback. Coexists with any
            free-form provenance keys supplied at write time.
          additionalProperties: true
          allOf:
            - $ref: "#/components/schemas/AgentAttribution"
    RelationshipSnapshot:
      type: object
      properties:
        relationship_key:
          type: string
        relationship_type:
          type: string
        source_entity_id:
          type: string
        target_entity_id:
          type: string
        schema_version:
          type: string
        snapshot:
          type: object
          additionalProperties: true
        computed_at:
          type: string
          format: date-time
        observation_count:
          type: integer
        last_observation_at:
          type: string
          format: date-time
        provenance:
          type: object
          additionalProperties: true
          description: |
            Reducer provenance for the relationship snapshot: a
            `field → observation_id` map. NOT agent attribution; use
            `agent_attribution` on the snapshot (and `provenance` on
            individual contributing relationship observations) to identify
            the writing agent.
        agent_attribution:
          nullable: true
          description: |
            Latest agent-identity attribution for the relationship, derived
            from the most recent contributing `relationship_observations.provenance`
            row. `null` when no contributing observation carried
            attribution keys.
          allOf:
            - $ref: "#/components/schemas/AgentAttribution"
        user_id:
          type: string
        source_entity_name:
          type: string
          nullable: true
          description: Canonical name of the source entity. Populated when `expand_entities=true`.
        source_entity_type:
          type: string
          nullable: true
        source_entity_type_label:
          type: string
          nullable: true
        target_entity_name:
          type: string
          nullable: true
          description: Canonical name of the target entity. Populated when `expand_entities=true`.
        target_entity_type:
          type: string
          nullable: true
        target_entity_type_label:
          type: string
          nullable: true
    TimelineEvent:
      type: object
      properties:
        id:
          type: string
        event_type:
          type: string
        event_timestamp:
          type: string
          format: date-time
        event_date:
          type: string
        source_id:
          type: string
        source_field:
          type: string
        entity_id:
          type: string
        created_at:
          type: string
          format: date-time
        user_id:
          type: string
        entity_ids:
          type: array
          items:
            type: string
          description: Optional; not populated by all transports. Prefer entity_id.
        properties:
          type: object
          additionalProperties: true
        provenance:
          type: object
          description: |
            Write-time agent attribution for this timeline event. Carries
            the `AgentAttribution` keys stamped by the AAuth middleware.
          additionalProperties: true
          allOf:
            - $ref: "#/components/schemas/AgentAttribution"
    EntitySchema:
      type: object
      additionalProperties: true
      properties:
        entity_type:
          type: string
        schema_version:
          type: string
        field_names:
          type: array
          items:
            type: string
        field_summary:
          type: object
          additionalProperties: true
        schema_definition:
          type: object
          additionalProperties: true
          description: |
            Full schema definition. `schema_definition.fields` is a map of field
            name to `{ type, required?, description?, ... }`. Returned by
            `getSchemaByEntityType` / the `describe_entity_type` MCP tool so
            agents can read field names, types, and required flags before
            storing.
          properties:
            fields:
              type: object
              additionalProperties:
                type: object
                additionalProperties: true
                properties:
                  type:
                    type: string
                  required:
                    type: boolean
                  description:
                    type: string
    Interpretation:
      type: object
      properties:
        id:
          type: string
        source_id:
          type: string
        status:
          type: string
        created_at:
          type: string
          format: date-time
        completed_at:
          type: string
          format: date-time
        provenance:
          type: object
          description: |
            Write-time agent attribution for the interpretation run. Carries
            the `AgentAttribution` keys stamped by the AAuth middleware.
          additionalProperties: true
          allOf:
            - $ref: "#/components/schemas/AgentAttribution"
    InterpretationConfig:
      type: object
      additionalProperties: true
      description: |
        Audit configuration for a parser or agent-authored interpretation run.
        Callers may include extractor_type, extractor_version, model,
        prompt_hash, schema_version, agent_notes, and other provenance fields
        needed to explain how extracted observations were produced.
      properties:
        extractor_type:
          type: string
        extractor_version:
          type: string
        model:
          type: string
        prompt_hash:
          type: string
        schema_version:
          type: string
        agent_notes:
          type: string
    StoreInterpretationInput:
      type: object
      additionalProperties: false
      description: |
        Optional interpretation provenance for source-derived structured
        extraction. Supplying this creates an interpretation row and links new
        observations to it. Omit for ordinary already-structured/chat-native
        facts, which keep observations.interpretation_id NULL.
      properties:
        source_id:
          type: string
          description: Existing source to interpret.
        source_ref:
          type: string
          enum: [structured, unstructured]
          description: |
            Source created by this store request. Use `unstructured` for the raw
            file source in combined file+entities requests, or `structured`
            for the generated JSON source.
        interpretation_config:
          $ref: "#/components/schemas/InterpretationConfig"
    CreateInterpretationRequest:
      type: object
      additionalProperties: false
      required: [source_id, entities]
      properties:
        source_id:
          type: string
        entities:
          type: array
          items:
            type: object
            additionalProperties: true
        interpretation_config:
          $ref: "#/components/schemas/InterpretationConfig"
        relationships:
          type: array
          items:
            $ref: "#/components/schemas/StoreRelationshipInput"
        idempotency_key:
          type: string
        user_id:
          type: string
    CreateInterpretationResponse:
      type: object
      properties:
        success:
          type: boolean
        interpretation_id:
          type: string
        source_id:
          type: string
        entities:
          type: array
          items:
            type: object
            additionalProperties: true
        observations_created:
          type: integer
        unknown_fields_count:
          type: integer
        unknown_fields:
          type: array
          items:
            type: string
          description: |
            Names of fields that were dropped because they are not declared in
            the entity's active schema. Present when `unknown_fields_count > 0`.
            Use `update_schema_incremental` or `register_schema` to add these
            fields before re-storing.
        hint:
          type: string
          description: |
            Actionable guidance when fields were dropped to `raw_fragments`.
            Present only when `unknown_fields_count > 0`. Directs the caller
            to use `update_schema_incremental` with `migrate_existing: true`
            to promote the unknown fields into the schema and backfill existing
            data.
        relationships_created:
          type: array
          items:
            type: object
            additionalProperties: true
    UsageStats:
      type: object
      description: Aggregate usage statistics computed from local data only.
      properties:
        entities_by_type:
          type: object
          description: Count of active (non-merged) entities per entity_type, sorted by count desc.
          additionalProperties:
            type: integer
        total_entities:
          type: integer
          description: Total active entities.
        observations_by_source:
          type: object
          description: Count of observations grouped by observation_source.
          additionalProperties:
            type: integer
        total_observations:
          type: integer
          description: Total observations.
        entities_created_last_7_days:
          type: integer
          description: Number of entities created in the last 7 days.
        entities_created_last_30_days:
          type: integer
          description: Number of entities created in the last 30 days.
        entity_types_with_schema:
          type: integer
          description: Number of distinct entity_types that have a registered schema.
        entity_types_total:
          type: integer
          description: Total distinct entity_types present in the entities table.
        last_updated:
          type: string
          description: ISO timestamp when stats were computed.
    Stats:
      type: object
      properties:
        entities:
          type: integer
        sources:
          type: integer
        observations:
          type: integer
        relationships:
          type: integer
        timeline_events:
          type: integer
        sources_count:
          type: integer
        entities_by_type:
          type: object
          additionalProperties:
            type: integer
        total_entities:
          type: integer
        total_relationships:
          type: integer
        total_events:
          type: integer
        total_observations:
          type: integer
        total_interpretations:
          type: integer
        observations_by_identity_basis:
          type: object
          description: |
            R4 telemetry: count of observations per structured identity basis.
            Keys are `schema_rule`, `heuristic_name`, `heuristic_fallback`,
            `target_id`, or `unclassified` for rows written before the
            `identity_basis` column existed.
          additionalProperties:
            type: integer
        observations_by_identity_basis_by_type:
          type: object
          description: |
            R4 telemetry: count of observations per identity basis, keyed by
            entity_type (outer) then basis (inner).
          additionalProperties:
            type: object
            additionalProperties:
              type: integer
        last_updated:
          type: string
    StoreRelationshipInput:
      oneOf:
        - type: object
          required: [relationship_type, source_index, target_index]
          additionalProperties: false
          properties:
            relationship_type:
              type: string
              enum:
                [
                  PART_OF,
                  CORRECTS,
                  REFERS_TO,
                  SETTLES,
                  DUPLICATE_OF,
                  DEPENDS_ON,
                  SUPERSEDES,
                  EMBEDS,
                  works_at,
                  owns,
                  manages,
                  part_of,
                  related_to,
                  depends_on,
                  references,
                  transacted_with,
                  member_of,
                  reports_to,
                  located_at,
                  created_by,
                  funded_by,
                  acquired_by,
                  subsidiary_of,
                  partner_of,
                  competitor_of,
                  supplies_to,
                  contracted_with,
                  invested_in,
                ]
            source_index:
              type: integer
              minimum: 0
              description: Index into the entities array for the source entity.
            target_index:
              type: integer
              minimum: 0
              description: Index into the entities array for the target entity.
            metadata:
              type: object
              additionalProperties: true
        - type: object
          required: [relationship_type, source_index, target_entity_id]
          additionalProperties: false
          properties:
            relationship_type:
              type: string
              enum:
                [
                  PART_OF,
                  CORRECTS,
                  REFERS_TO,
                  SETTLES,
                  DUPLICATE_OF,
                  DEPENDS_ON,
                  SUPERSEDES,
                  EMBEDS,
                  works_at,
                  owns,
                  manages,
                  part_of,
                  related_to,
                  depends_on,
                  references,
                  transacted_with,
                  member_of,
                  reports_to,
                  located_at,
                  created_by,
                  funded_by,
                  acquired_by,
                  subsidiary_of,
                  partner_of,
                  competitor_of,
                  supplies_to,
                  contracted_with,
                  invested_in,
                ]
            source_index:
              type: integer
              minimum: 0
              description: Index into the entities array for the source entity.
            target_entity_id:
              type: string
              description: Existing target entity ID.
            metadata:
              type: object
              additionalProperties: true
        - type: object
          required: [relationship_type, source_entity_id, target_index]
          additionalProperties: false
          properties:
            relationship_type:
              type: string
              enum:
                [
                  PART_OF,
                  CORRECTS,
                  REFERS_TO,
                  SETTLES,
                  DUPLICATE_OF,
                  DEPENDS_ON,
                  SUPERSEDES,
                  EMBEDS,
                  works_at,
                  owns,
                  manages,
                  part_of,
                  related_to,
                  depends_on,
                  references,
                  transacted_with,
                  member_of,
                  reports_to,
                  located_at,
                  created_by,
                  funded_by,
                  acquired_by,
                  subsidiary_of,
                  partner_of,
                  competitor_of,
                  supplies_to,
                  contracted_with,
                  invested_in,
                ]
            source_entity_id:
              type: string
              description: Existing source entity ID.
            target_index:
              type: integer
              minimum: 0
              description: Index into the entities array for the target entity.
            metadata:
              type: object
              additionalProperties: true
        - type: object
          required: [relationship_type, source_entity_id, target_entity_id]
          additionalProperties: false
          properties:
            relationship_type:
              type: string
              enum:
                [
                  PART_OF,
                  CORRECTS,
                  REFERS_TO,
                  SETTLES,
                  DUPLICATE_OF,
                  DEPENDS_ON,
                  SUPERSEDES,
                  EMBEDS,
                  works_at,
                  owns,
                  manages,
                  part_of,
                  related_to,
                  depends_on,
                  references,
                  transacted_with,
                  member_of,
                  reports_to,
                  located_at,
                  created_by,
                  funded_by,
                  acquired_by,
                  subsidiary_of,
                  partner_of,
                  competitor_of,
                  supplies_to,
                  contracted_with,
                  invested_in,
                ]
            source_entity_id:
              type: string
              description: Existing source entity ID.
            target_entity_id:
              type: string
              description: Existing target entity ID.
            metadata:
              type: object
              additionalProperties: true
    ExternalActorInput:
      type: object
      additionalProperties: false
      description: |
        Upstream artifact author (e.g. GitHub user) stamped into observation
        provenance alongside AAuth agent attribution. Matches
        `ExternalActorInputSchema` in `action_schemas.ts`.
      required:
        - provider
        - login
        - id
      properties:
        provider:
          type: string
          enum: [github]
        login:
          type: string
        id:
          type: number
        type:
          type: string
          enum: [User, Bot, Organization]
          default: User
        verified_via:
          type: string
          enum: [claim, linked_attestation, oauth_link, webhook_signature]
          default: claim
        delivery_id:
          type: string
        event_type:
          type: string
        repository:
          type: string
        event_id:
          type: number
        comment_id:
          type: number
    StoreRequest:
      type: object
      additionalProperties: false
      description: |
        Unified store payload. Supports structured only, unstructured only, or
        both in one request. Top-level field set is closed: unknown request
        fields are rejected with `ERR_UNKNOWN_FIELD` (see
        `docs/subsystems/errors.md`). Entity-level fields inside `entities[]`
        remain intentionally open so schema-driven fields flow through.
      properties:
        entities:
          type: array
          items:
            type: object
            additionalProperties: true
            description: |
              Entity payload. Fields are declared by the entity's
              `SchemaDefinition`, not by this OpenAPI shape, so the object is
              intentionally open. Put entity fields at the top level of this
              object; nesting under `attributes` (or any other wrapper) is
              not supported and returns `ERR_STORE_RESOLUTION_FAILED` with a
              structured `hint` guiding callers to flatten.
        relationships:
          type: array
          description: |
            Optional. Create relationships between entities in this request.
            Use `source_index` or `target_index` for entities in this request,
            and `source_entity_id` or `target_entity_id` for existing entities.
            Index and id endpoints may be mixed in one relationship.
          items:
            $ref: "#/components/schemas/StoreRelationshipInput"
        interpretation:
          $ref: "#/components/schemas/StoreInterpretationInput"
        source_priority:
          type: integer
          description: >-
            Trust/priority of this observation's source. Only affects snapshot
            resolution for fields whose merge strategy is highest_priority (set
            via register_schema reducer_config); under the default last_write
            strategy it is stored but ignored.
        observation_source:
          type: string
          enum: [sensor, llm_summary, workflow_state, human, import, sync]
          description: |
            Classifies the *kind* of write being performed, orthogonal to
            `source_priority`. See `Observation.observation_source` for
            the full semantic contract. Defaults to `llm_summary` when
            unspecified. Applies to every observation created by this
            request.
        external_actor:
          $ref: "#/components/schemas/ExternalActorInput"
          description: |
            Optional upstream author (e.g. GitHub user for issue submission).
            Stamped into observation provenance; must align with
            `ExternalActorInputSchema` (strict — no extra keys).
        idempotency_key:
          type: string
          description: Required for structured path, optional for unstructured-only path.
        file_idempotency_key:
          type: string
          description: Optional idempotency key for file path when sending structured + unstructured in one call.
        file_content:
          type: string
          description: Base64-encoded file content (unstructured path)
        file_path:
          type: string
          description: Local file path for server-local environments
        mime_type:
          type: string
          description: Required with file_content, optional with file_path
        original_filename:
          type: string
        source_storage:
          type: string
          enum: [inline, reference]
          default: inline
          description: >-
            Storage mode for an accompanying file. "inline" (default) reads and
            ingests the bytes; "reference" registers the file by path +
            content_hash WITHOUT copying its bytes (requires file_path, not
            file_content). Mirrors the MCP store tool. (#1826)
        user_id:
          type: string
        commit:
          type: boolean
          default: true
          description: |
            When false, runs in plan/dry-run mode: resolves entities and returns
            planned actions ("would_create" / "would_match_existing") without
            persisting observations or source rows. Useful for previewing a
            structured store before committing.
        strict:
          type: boolean
          default: false
          description: |
            When true, refuse silent merges: only match an existing entity when
            the entity's schema declares canonical_name_fields that the request
            matches, or when target_id is supplied. Prevents accidental
            coalescing into a pre-existing record.
        source_peer_id:
          type: string
          description: |
            Optional Neotoma peer id to stamp on observations for cross-instance
            sync loop prevention (Phase 5). Requires `observation_source: sync` in practice.
    StoreResponse:
      type: object
      properties:
        structured:
          $ref: "#/components/schemas/StoreStructuredResponse"
        unstructured:
          $ref: "#/components/schemas/StoreUnstructuredResponse"
    StoreStructuredRequest:
      type: object
      additionalProperties: false
      required: [entities, idempotency_key]
      description: |
        Structured-only store payload. Top-level field set is closed; unknown
        request fields are rejected with `ERR_UNKNOWN_FIELD`. Entity-level
        fields inside `entities[]` remain intentionally open so
        schema-driven fields flow through (see description on `entities[]`).
      properties:
        entities:
          type: array
          items:
            type: object
            additionalProperties: true
            description: |
              Entity payload. Fields are declared by the entity's
              `SchemaDefinition`, not by this OpenAPI shape, so the object is
              intentionally open. Put entity fields at the top level of this
              object; nesting under `attributes` is not supported.
        relationships:
          type: array
          description: |
            Optional. Create relationships between entities in this request.
            Use `source_index` or `target_index` for entities in this request,
            and `source_entity_id` or `target_entity_id` for existing entities.
            Index and id endpoints may be mixed in one relationship.
            Enables one-call chat persistence: store [conversation, conversation_message] with relationships [{ relationship_type: "PART_OF", source_index: 1, target_index: 0 }]. (`agent_message` remains accepted as a legacy alias for pre-v0.6 clients.)
          items:
            $ref: "#/components/schemas/StoreRelationshipInput"
        interpretation:
          $ref: "#/components/schemas/StoreInterpretationInput"
        source_priority:
          type: integer
          description: >-
            Trust/priority of this observation's source. Only affects snapshot
            resolution for fields whose merge strategy is highest_priority (set
            via register_schema reducer_config); under the default last_write
            strategy it is stored but ignored.
        observation_source:
          type: string
          enum: [sensor, llm_summary, workflow_state, human, import, sync]
          description: |
            Classifies the *kind* of write being performed, orthogonal to
            `source_priority`. See `Observation.observation_source` for
            the full semantic contract. Defaults to `llm_summary` when
            unspecified. Applies to every observation created by this
            request.
        idempotency_key:
          type: string
        user_id:
          type: string
        original_filename:
          type: string
          description: |
            Optional. For agent-provided structured data, omit so the source has no filename (null).
            Pass only when mirroring a real file name or when a display label is desired.
        commit:
          type: boolean
          default: true
          description: |
            When false, runs in plan/dry-run mode: resolves entities and returns
            planned actions ("would_create" / "would_match_existing") without
            persisting observations or source rows. Useful for previewing a
            structured store before committing.
        strict:
          type: boolean
          default: false
          description: |
            When true, refuse silent merges: only match an existing entity when
            the entity's schema declares canonical_name_fields that the request
            matches, or when target_id is supplied. Prevents accidental
            coalescing into a pre-existing record.
        source_peer_id:
          type: string
          description: Optional peer id stamped on observations for sync loop prevention.
    StoreStructuredResponse:
      type: object
      properties:
        success:
          type: boolean
        replayed:
          type: boolean
          description: |
            True when the response is an idempotency replay (no new observations
            or entities were written for this request). The key was already used
            with identical content so the original result is returned. Consumers
            can use this to distinguish a genuine fresh commit from a replayed
            earlier result when `entities_created_count` is 0. If the same key
            is reused with *different* content the request is rejected with
            `ERR_IDEMPOTENCY_MISMATCH` (HTTP 400).
        entities:
          type: array
          items:
            type: object
            properties:
              entity_id:
                type: string
              entity_type:
                type: string
              observation_id:
                type: string
              canonical_name:
                type: string
              resolver_path:
                type: array
                items:
                  type: string
              identity_basis:
                type: string
                description: |
                  R4 telemetry: how the entity's identity was resolved. One of
                  `schema_rule`, `heuristic_name`, `heuristic_fallback`,
                  `target_id`.
                enum:
                  - schema_rule
                  - schema_lookup
                  - heuristic_name
                  - heuristic_fallback
                  - target_id
              identity_rule:
                type: string
                description: |
                  Human-readable label for the rule that produced the
                  canonical_name (e.g. `email`,
                  `composite:full_name+employer`, `first_string_field:name`).
              action:
                type: string
              warnings:
                type: array
                description: |
                  R3 non-fatal resolver warnings for this observation. Present
                  when the entity's active schema declares
                  `name_collision_policy: "warn"` and resolution landed on an
                  existing entity via a heuristic path. PII-free by construction
                  (never embeds canonical_name content or extracted field
                  values). See
                  `.cursor/plans/conversation_entity_collision_fix_aef8ba0d.plan.md`.
                items:
                  $ref: "#/components/schemas/ResolverWarning"
              prefix_duplicate_candidates:
                type: array
                description: |
                  Existing entities surfaced as possible duplicates when the
                  stored name is a single token that prefixes a same-type
                  multi-token canonical name. Emitted by the single-token
                  prefix-match pass. The new entity is still created (no
                  auto-merge); callers SHOULD present these candidates to the
                  operator or agent for review. Present only when at least one
                  candidate was found. Deterministically ordered by
                  `candidate_entity_id` ascending. Callers that forward this
                  field to logs or metrics MUST drop or redact
                  `candidate_canonical_name` per docs/subsystems/privacy.md.
                items:
                  $ref: "#/components/schemas/ResolverDuplicateCandidate"
        warnings:
          type: array
          description: |
            Batch-aggregated non-fatal resolver warnings (R3). Mirrors each
            entity's `entities[].warnings` with `observation_index` and
            `entity_id` attached so callers can audit identity quality without
            walking every entity trace.
          items:
            allOf:
              - $ref: "#/components/schemas/ResolverWarning"
              - type: object
                properties:
                  observation_index:
                    type: integer
                  entity_id:
                    type: string
        store_warnings:
          type: array
          description: |
            Schema-driven non-fatal warnings emitted when a stored observation
            omits all fields listed by a schema's `store_warnings` rule. Used
            by schemas to surface identity-quality issues (e.g. a
            `product_feedback` observation that supplies none of the declared
            feedback-source identity fields) without rejecting the write.
            Schema-agnostic: the rule lives on the entity's `SchemaDefinition`,
            not in per-type code. Present only when at least one rule fired
            during this request.
          items:
            type: object
            required:
              - code
              - message
              - observation_index
              - entity_type
              - entity_id
            properties:
              code:
                type: string
                description: |
                  Stable warning code callers can switch on. Two sources:
                  (1) schema-defined rules declared in the schema's
                  `store_warnings[].code`; (2) schema-declaration-driven
                  codes emitted by the store path itself —
                  `MISSING_CONTENT_FIELD` (fired when a schema declares
                  `content_field` and the stored observation omits or
                  empties that field), `UNKNOWN_FIELD` (fired per field that
                  is not declared on the entity's active schema; the value is
                  preserved on the observation but dropped from the snapshot
                  projection until the field is added to the schema),
                  `MISSING_REQUIRED_FIELD` (fired per schema field declared
                  `required: true` that the stored observation omits or leaves
                  empty), `CONSTRAINT_VIOLATION` (fired per observation
                  that fails a declarative write-time value constraint when the
                  constraint's `policy` is `"warn"`; the write is accepted and
                  the violating value is stored as-is), and
                  `SOURCE_PRIORITY_IGNORED` (fired when the caller sets a
                  non-default `source_priority` but no field on the entity type
                  uses a merge strategy that honours it — all fields effectively
                  use `last_write`, so the priority value has no effect on the
                  stored snapshot).
              message:
                type: string
                description: Human-readable description from the schema rule.
              observation_index:
                type: integer
                description: |
                  Index into the request's `entities[]` array identifying which
                  observation triggered the warning.
              entity_type:
                type: string
              entity_id:
                type: string
        interpretation_id:
          type: string
          nullable: true
          description: Interpretation row linked to observations when the request supplied an explicit interpretation block.
        unknown_fields:
          type: array
          items:
            type: string
          description: |
            Names of fields that are not declared in the entity's active schema.
            Present when `unknown_fields_count > 0`. The values are preserved on
            the written observation but are NOT projected into the entity
            snapshot until the field is added to the schema. To surface them:
            (a) when an existing declared field already fits the data, re-store
            (or `correct`) into that field; (b) otherwise add the field to the
            schema with `register_schema` or, when the schema declares
            `canonical_name_fields`, `update_schema_incremental`. See `hint`.
        no_schema_entity_types:
          type: array
          items:
            type: string
          description: |
            Entity types whose payloads were routed to raw_fragments because no
            schema could be found or auto-registered. Each element is a distinct
            entity_type string. An empty array (or absent field) means all entity
            types had an active schema and were processed normally. When this list
            is non-empty, run `register_schema` for each type to create a schema
            so future ingestion produces observations instead of fragments.
        unknown_fields_count:
          type: integer
          description: |
            Number of entity fields across the batch that are not declared in
            the entity's active schema. The values are preserved on the written
            observations but are not projected into the snapshot until the
            fields are added to the schema.
        required_fields_missing:
          type: array
          items:
            type: object
            required:
              - entity_type
              - field
              - observation_index
            properties:
              entity_type:
                type: string
              field:
                type: string
              observation_index:
                type: integer
          description: |
            Schema fields declared `required: true` that the stored observation
            omitted or left empty. Mirror of `unknown_fields` for the inverse
            case: the write is non-fatally accepted, but the entity is missing a
            field its schema marks required. Callers SHOULD repair in-turn by
            `correct`-ing the missing field. Present only when at least one
            required field was missing.
        conversation_message_count:
          type: integer
          nullable: true
          description: |
            Total number of `conversation_message` entities `PART_OF` the
            conversation referenced by this store call, computed after commit.
            Populated only when at least one `conversation_message` entity was
            created or updated in this request and its `PART_OF` target
            conversation can be resolved. Omitted (null) for store calls with
            no conversation context. Reflects the current snapshot at the time
            of the response. Consumed by `neotoma_turn_summary` to populate
            the `msg N/M` component of the turn status line without an extra
            retrieval round-trip.
        hint:
          type: string
          description: |
            Actionable guidance, present only when `unknown_fields_count > 0`.
            The wording is conditional on the schema's identity configuration:
            when the schema declares `canonical_name_fields`, it directs the
            caller to `update_schema_incremental` (with `migrate_existing: true`
            to backfill); when the schema has no identity config (so
            `update_schema_incremental` would fail with
            `ERR_SCHEMA_MISSING_IDENTITY_CONFIG`), it instead directs the caller
            to `correct` the data into an already-declared field or to
            `register_schema` a new version with the field added.
    ResolverWarning:
      type: object
      description: |
        Non-fatal warning emitted by entity resolution when a schema declares
        `name_collision_policy: "warn"` and the caller's payload matched an
        existing entity via a heuristic (non `schema_rule`) path. Shape is
        intentionally PII-free so it can be forwarded to dashboards, logs, and
        downstream agents without redaction.
      required:
        - code
        - policy
        - entity_type
        - identity_basis
        - identity_rule
      properties:
        code:
          type: string
          enum:
            - HEURISTIC_MERGE
        policy:
          type: string
          enum:
            - warn
        entity_type:
          type: string
        identity_basis:
          type: string
          enum:
            - schema_rule
            - schema_lookup
            - heuristic_name
            - heuristic_fallback
            - target_id
        identity_rule:
          type: string
    ResolverDuplicateCandidate:
      type: object
      description: |
        An existing entity surfaced as a possible duplicate of the entity being
        resolved. Emitted by the single-token prefix-match pass: when a
        single-token input (e.g. a contact stored as "Simon") is a strict
        prefix of an existing same-type multi-token canonical name (e.g.
        "Simon Bergeron"), the resolver mints the new entity (no auto-merge)
        but attaches the existing entity here for operator/agent review.
        Callers that forward this to logs or metrics MUST drop or redact
        `candidate_canonical_name` per docs/subsystems/privacy.md.
      required:
        - code
        - entity_type
        - candidate_entity_id
        - candidate_canonical_name
      properties:
        code:
          type: string
          enum:
            - PREFIX_DUPLICATE_CANDIDATE
          description: Stable machine code for the surfacing reason.
        entity_type:
          type: string
          description: The entity_type shared by the resolving entity and the candidate.
        candidate_entity_id:
          type: string
          description: Deterministic id of the existing candidate entity.
        candidate_canonical_name:
          type: string
          description: |
            canonical_name of the existing candidate entity. Review-facing;
            callers MUST NOT forward to logs or metrics without redaction.
        truncated:
          type: boolean
          description: |
            Present and true on every item in a truncated candidate set. When
            the total number of prefix matches exceeded the server-side cap
            (currently 25), only the first 25 (ordered by candidate_entity_id
            ascending) are returned and this flag is set so callers can
            distinguish "exactly 25 matches" from "25+ matches".
        matched_count:
          type: integer
          description: |
            Total number of candidates found before the cap was applied.
            Only present when truncated is true.
    StoreUnstructuredRequest:
      type: object
      additionalProperties: false
      required: [file_content, mime_type]
      description: |
        Unstructured-only store payload. Closed shape; unknown top-level
        fields are rejected with `ERR_UNKNOWN_FIELD`.
      properties:
        file_content:
          type: string
          description: Base64-encoded file content
        mime_type:
          type: string
          description: MIME type of the file
        idempotency_key:
          type: string
          description: Optional idempotency key; if omitted, content hash is used
        original_filename:
          type: string
          description: Run AI interpretation after store
        user_id:
          type: string
          format: uuid
    StoreUnstructuredResponse:
      type: object
      properties:
        source_id:
          type: string
        content_hash:
          type: string
        file_size:
          type: integer
        deduplicated:
          type: boolean
        interpretation:
          type: object
          additionalProperties: true
        entity_ids:
          type: array
          items:
            type: string
    TurnSummaryRequest:
      type: object
      additionalProperties: false
      required: [conversation_id, turn_key]
      description: |
        FU-2026-05-002. Identifies the conversation and the assistant message
        whose turn just completed. The server resolves stored/retrieved/issue
        entity IDs from the REFERS_TO edges of the assistant `conversation_message`
        and computes total message count for the conversation.
      properties:
        conversation_id:
          type: string
          description: |
            Stable conversation identifier (the `conversation_id` field on the
            `conversation` entity, host-provided or agent-derived per the turn
            identity rules). Used to disambiguate when the same `turn_key`
            string could in principle belong to multiple conversations.
        turn_key:
          type: string
          description: |
            `turn_key` of the assistant `conversation_message` whose turn just
            completed. Format `{conversation_id}:{turn_id}:assistant` per the
            closing-store recipe. The server resolves the entity via
            `canonical_name_fields: ["turn_key"]`.
        user_id:
          type: string
          format: uuid
    TurnSummaryResponse:
      type: object
      description: |
        FU-2026-05-002. Plain-text status line (always present) plus an
        optional `ui://` widget URI for ext-apps clients. Agents emit
        `status_line` in the user-visible reply; ext-apps clients additionally
        render the widget inline when `widget_uri` is present.
      required: [status_line, turn_number, conversation_message_count, stored, retrieved, issues]
      properties:
        status_line:
          type: string
          description: |
            Single-line plain-text status of the form
            `msg N/M, stored K, retrieved L` (with optional `, issues J`
            suffix when J > 0). Always present, including bookkeeping-only
            turns where K, L, and J are zero.
        widget_uri:
          type: string
          nullable: true
          description: |
            MCP resource URI (`ui://neotoma/turn-summary?...`) resolvable by
            the ext-apps widget host. Omitted when no host context is
            available. Clients without ext-apps support fall back to
            `status_line` plain text.
        turn_number:
          type: integer
          description: |
            1-based ordinal of this turn within the conversation. Read from
            the resolved assistant message's `turn_number` field; falls back
            to total message count when the field is absent on legacy rows.
        conversation_message_count:
          type: integer
          description: |
            Total `conversation_message` entities `PART_OF` the conversation
            at the time of the call. Matches the `conversation_message_count`
            field returned by the closing assistant store (FU-2026-05-001).
        stored:
          type: array
          description: |
            Non-bookkeeping entities the assistant message REFERS_TO that were
            created or updated this turn. `conversation` and
            `conversation_message` are excluded.
          items:
            $ref: "#/components/schemas/TurnSummaryEntityRef"
        retrieved:
          type: array
          description: |
            Entities cited in the reply that already existed before this turn
            (no new observation was written by this turn). Excludes chat
            bookkeeping.
          items:
            $ref: "#/components/schemas/TurnSummaryEntityRef"
        issues:
          type: array
          description: |
            Issue entities surfaced this turn that need user consent to file
            externally. Empty unless the auto-file flow flagged something.
          items:
            $ref: "#/components/schemas/TurnSummaryEntityRef"
    ConversationTurnIndex:
      type: object
      description: |
        FU-2026-05-003. Index of turns within a conversation, ordered by
        `turn_number` ascending (falls back to message creation time for
        legacy rows without `turn_number`).
      required: [conversation_id, conversation_entity_id, turns]
      properties:
        conversation_id:
          type: string
          description: |
            Stable conversation identifier from the conversation entity's
            `conversation_id` field.
        conversation_entity_id:
          type: string
          description: The `entity_id` of the conversation entity (`ent_...`).
        turns:
          type: array
          items:
            $ref: "#/components/schemas/ConversationTurn"
    ConversationTurn:
      type: object
      required:
        - turn_number
        - message_entity_id
        - role
        - turn_key
        - stored
        - retrieved
        - issues
      properties:
        turn_number:
          type: integer
          description: |
            1-based ordinal of the turn within the conversation. Read from the
            message's `turn_number` snapshot field; falls back to its index in
            creation order for legacy rows.
        message_entity_id:
          type: string
        role:
          type: string
          description: |
            `user`, `assistant`, `agent`, `system`, or `tool` per the
            `conversation_message` `role` / `sender_kind` fields.
        turn_key:
          type: string
        content_preview:
          type: string
          nullable: true
          description: |
            First ~200 characters of the message `content` field, intended for
            sidebar previews. Full content is on the message entity itself.
        created_at:
          type: string
          nullable: true
          format: date-time
        stored:
          type: array
          description: Non-bookkeeping entities REFERS_TO from this message.
          items:
            $ref: "#/components/schemas/TurnSummaryEntityRef"
        retrieved:
          type: array
          description: |
            Entities REFERS_TO from this message that are not also REFERS_TO
            from the matching assistant message (preserves the
            stored-vs-retrieved partition `neotoma_turn_summary` uses).
          items:
            $ref: "#/components/schemas/TurnSummaryEntityRef"
        issues:
          type: array
          description: Entities of `entity_type` `issue` REFERS_TO from this message.
          items:
            $ref: "#/components/schemas/TurnSummaryEntityRef"
    TurnSummaryEntityRef:
      type: object
      required: [entity_id, entity_type]
      properties:
        entity_id:
          type: string
        entity_type:
          type: string
        canonical_name:
          type: string
          nullable: true
    GetRelationshipSnapshotRequest:
      type: object
      additionalProperties: false
      required: [relationship_type, source_entity_id, target_entity_id]
      properties:
        relationship_type:
          type: string
          enum:
            [
              PART_OF,
              CORRECTS,
              REFERS_TO,
              SETTLES,
              DUPLICATE_OF,
              DEPENDS_ON,
              SUPERSEDES,
              EMBEDS,
              works_at,
              owns,
              manages,
              part_of,
              related_to,
              depends_on,
              references,
              transacted_with,
              member_of,
              reports_to,
              located_at,
              created_by,
              funded_by,
              acquired_by,
              subsidiary_of,
              partner_of,
              competitor_of,
              supplies_to,
              contracted_with,
              invested_in,
            ]
        source_entity_id:
          type: string
        target_entity_id:
          type: string
        user_id:
          type: string
          description: Optional tenant override for read-scope endpoints. Usual auth precedence applies; see docs/subsystems/auth.md.
    GetRelationshipSnapshotResponse:
      type: object
      required: [snapshot, observations]
      properties:
        snapshot:
          $ref: "#/components/schemas/RelationshipSnapshot"
        observations:
          type: array
          items:
            type: object
            properties:
              id: { type: string }
              source_id: { type: string }
              observed_at: { type: string }
              specificity_score: { type: number }
              source_priority: { type: number }
              metadata: { type: object }
    OAuthInitiateRequest:
      type: object
      additionalProperties: false
      required: [connection_id]
      properties:
        connection_id:
          type: string
        client_name:
          type: string
        redirect_uri:
          type: string
    OAuthInitiateResponse:
      type: object
      properties:
        auth_url:
          type: string
        connection_id:
          type: string
        expires_at:
          type: string
          format: date-time
    OAuthStatusResponse:
      type: object
      properties:
        status:
          type: string
        connection_id:
          type: string
paths:
  /get_file_url:
    get:
      summary: Get signed file URL
      description: Provide a storage path like "files/<source_id>/<filename>".
      operationId: getFileUrl
      parameters:
        - in: query
          name: file_path
          required: true
          schema: { type: string }
        - in: query
          name: expires_in
          required: false
          schema: { type: integer }
      responses:
        "200":
          description: Signed URL
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FileUrlResponse"
        "400":
          description: Invalid parameters
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "401":
          description: Missing or invalid bearer token
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }

  /health:
    get:
      summary: Health check
      operationId: healthCheck
      security: []
      responses:
        "200":
          description: Server is healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean

  /openapi.yaml:
    get:
      summary: Get OpenAPI specification
      operationId: getOpenApiSpec
      security: []
      responses:
        "200":
          description: OpenAPI specification in YAML
          content:
            application/yaml:
              schema:
                type: string

  /server-info:
    get:
      summary: Get server info
      operationId: getServerInfo
      responses:
        "200":
          description: Server info
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                properties:
                  neotoma_env:
                    type: string
                    description: Resolved NEOTOMA_ENV for this process (development or production).

  /mcp/oauth/initiate:
    post:
      summary: Initiate MCP OAuth flow
      operationId: mcpOAuthInitiate
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/OAuthInitiateRequest" }
      responses:
        "200":
          description: OAuth initiation result
          content:
            application/json:
              schema: { $ref: "#/components/schemas/OAuthInitiateResponse" }
        "400":
          description: Invalid request
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorEnvelope" }

  /mcp/oauth/authorize:
    get:
      summary: OAuth authorization endpoint
      operationId: mcpOAuthAuthorize
      parameters:
        - in: query
          name: redirect_uri
          required: true
          schema: { type: string }
        - in: query
          name: state
          required: true
          schema: { type: string }
        - in: query
          name: code_challenge
          required: true
          schema: { type: string }
        - in: query
          name: code_challenge_method
          required: true
          schema: { type: string }
        - in: query
          name: client_id
          required: false
          schema: { type: string }
        - in: query
          name: dev_stub
          required: false
          schema: { type: string }
      responses:
        "302":
          description: Redirect to authorization URL

  /mcp/oauth/token:
    post:
      summary: OAuth token exchange
      operationId: mcpOAuthToken
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                grant_type:
                  type: string
                code:
                  type: string
      responses:
        "200":
          description: OAuth token response
          content:
            application/json:
              schema:
                type: object
                properties:
                  access_token:
                    type: string
                  token_type:
                    type: string
                  expires_in:
                    type: integer
        "400":
          description: Token exchange error
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true

  /me:
    get:
      summary: Get current authenticated user
      operationId: getMe
      responses:
        "200":
          description: Current user details
          content:
            application/json:
              schema:
                type: object
                properties:
                  user_id:
                    type: string
                  email:
                    type: string
                  storage:
                    type: object
                    properties:
                      storage_backend:
                        type: string
                        enum: [local]
                      data_dir:
                        type: string
                      sqlite_db:
                        type: string
        "401":
          description: Not authenticated
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }

  /mcp/oauth/status:
    get:
      summary: Get OAuth connection status
      operationId: mcpOAuthStatus
      parameters:
        - in: query
          name: connection_id
          required: true
          schema: { type: string }
      responses:
        "200":
          description: Connection status
          content:
            application/json:
              schema: { $ref: "#/components/schemas/OAuthStatusResponse" }
        "400":
          description: Invalid request
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorEnvelope" }

  /mcp/oauth/connections:
    get:
      summary: List OAuth connections
      operationId: mcpOAuthListConnections
      responses:
        "200":
          description: Connection list
          content:
            application/json:
              schema:
                type: object
                properties:
                  connections:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
        "401":
          description: Unauthorized
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }

  /mcp/oauth/connections/{connection_id}:
    delete:
      summary: Revoke OAuth connection
      operationId: mcpOAuthRevokeConnection
      parameters:
        - in: path
          name: connection_id
          required: true
          schema: { type: string }
      responses:
        "200":
          description: Revoked
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean

  /.well-known/oauth-authorization-server:
    get:
      summary: OAuth 2.0 Authorization Server Metadata (RFC 8414)
      operationId: oauthServerMetadata
      responses:
        "200":
          description: Authorization server metadata
          content:
            application/json:
              schema:
                type: object

  /.well-known/oauth-protected-resource:
    get:
      summary: OAuth 2.0 Protected Resource Metadata
      operationId: oauthProtectedResource
      responses:
        "200":
          description: Protected resource metadata
          content:
            application/json:
              schema:
                type: object

  /mcp/oauth/callback:
    get:
      summary: OAuth callback endpoint
      operationId: mcpOAuthCallback
      parameters:
        - in: query
          name: code
          schema: { type: string }
        - in: query
          name: state
          schema: { type: string }
      responses:
        "302":
          description: Redirect after OAuth callback

  /mcp/oauth/key-auth:
    get:
      summary: Key-based authorization page (GET)
      operationId: mcpOAuthKeyAuthGet
      parameters:
        - in: query
          name: next
          schema: { type: string }
      responses:
        "200":
          description: Key auth HTML page
          content:
            text/html:
              schema: { type: string }
    post:
      summary: Key-based authorization submission (POST)
      operationId: mcpOAuthKeyAuthPost
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                next:
                  type: string
                key:
                  type: string
      responses:
        "302":
          description: Redirect after key auth

  /mcp/oauth/local-login:
    get:
      summary: Local login for development (auto-creates dev user)
      operationId: mcpOAuthLocalLogin
      responses:
        "302":
          description: Redirect after local login

  /mcp/oauth/register:
    post:
      summary: Dynamic Client Registration (RFC 7591)
      operationId: mcpOAuthRegister
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                client_name:
                  type: string
                redirect_uris:
                  type: array
                  items: { type: string }
      responses:
        "201":
          description: Client registered
          content:
            application/json:
              schema:
                type: object

  /mcp/oauth/authorization-details:
    get:
      summary: Authorization details proxy
      operationId: mcpOAuthAuthorizationDetails
      responses:
        "200":
          description: Authorization details
          content:
            application/json:
              schema:
                type: object

  /auth/dev-signin:
    post:
      summary: Dev-only sign-in endpoint (development mode only)
[...]
