openapi: 3.1.0
info:
  title: Neotoma API
  version: 1.0.0
  description: REST API for Neotoma. Use with any HTTP client, including ChatGPT Actions, Claude, Cursor, MCP servers, CLI tools, and custom integrations.
servers:
  - url: https://mcp.neotoma.io
    description: Set from NEOTOMA_HOST_URL when served by the API; default shown for static/codegen use.
  - url: http://localhost:3080
    description: Local development server
security:
  - bearerAuth: []
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT or base64url
      description: |
        Supported bearer tokens:
        - MCP OAuth JWT (recommended for CLI and web clients)
        - base64url-encoded Ed25519 public key (legacy encrypted responses)
        Optional: Include request signature in Authorization header: "Bearer <public_key> Signature <signature>"
  schemas:
    FileUrlResponse:
      type: object
      properties:
        url:
          type: string
          description: Signed URL for accessing the file
    Error:
      type: object
      properties:
        error:
          type: string
    ErrorEnvelope:
      type: object
      properties:
        error_code:
          type: string
        message:
          type: string
        details:
          type: object
          additionalProperties: true
        trace_id:
          type: string
        timestamp:
          type: string
          format: date-time
    StoreResolutionIssue:
      type: object
      description: |
        A single per-observation failure inside an
        `ERR_STORE_RESOLUTION_FAILED` response.
      properties:
        observation_index:
          type: integer
          description: Index of the offending entity in the request `entities` array.
        entity_type:
          type: string
        code:
          type: string
          enum:
            - ERR_CANONICAL_NAME_UNRESOLVED
            - ERR_MERGE_REFUSED
        message:
          type: string
        details:
          type: object
          additionalProperties: true
          description: |
            Code-specific context (e.g. `seen_fields`, `attempted_value`,
            `entity_id`, `canonical_name`, `resolver_path`).
        hint:
          oneOf:
            - type: string
            - type: object
              required:
                - text
              properties:
                text:
                  type: string
                  description: |
                    Short, actionable instruction for the caller (e.g. "Declare
                    `conversation_id` on entity_type \"conversation\"…"). PII-free.
                required_identity_fields:
                  $ref: '#/components/schemas/RequiredIdentityFields'
          description: |
            Optional structured upgrade guidance. Populated when the server can
            detect a common caller mistake (e.g. wrapping fields inside
            `attributes`) or when a schema with `name_collision_policy: reject`
            refuses a heuristic merge (R4 — then `required_identity_fields`
            carries the schema-derived identity key list). PII-free by
            construction. Consumers MAY display `text` verbatim to end users
            and MAY key on `required_identity_fields` programmatically to
            compose a corrected payload without parsing prose.
    RequiredIdentityFields:
      type: object
      description: |
        R4: schema-derived minimum identity payload for an `entity_type`.
        Surfaced inside `StoreResolutionIssue.hint.required_identity_fields`
        when a schema `name_collision_policy: reject` refuses a heuristic
        merge, and exposed by the MCP tool surface so agents can compose
        deterministic writes without per-type knowledge. Generated from
        `SchemaDefinition.canonical_name_fields` — adding a new reject-policy
        schema automatically extends the contract.
      required:
        - entity_type
        - required
        - any_of_fields
        - composite_fields
      properties:
        entity_type:
          type: string
        required:
          type: boolean
          description: |
            `true` when the schema declares `name_collision_policy: "reject"`.
            When `false`, the fields are informational — the caller MAY still
            benefit from supplying them to avoid heuristic matching warnings.
        any_of_fields:
          type: array
          items:
            type: string
          description: |
            Single-field canonical rules. Supplying ANY one of these on the
            payload is sufficient to satisfy the schema-level identity rule.
        composite_fields:
          type: array
          items:
            type: array
            items:
              type: string
          description: |
            Composite canonical rules. EVERY field in at least ONE composite
            group must be present to satisfy that group.
    StoreResolutionErrorEnvelope:
      type: object
      description: |
        400 response shape for `ERR_STORE_RESOLUTION_FAILED`. Distinct from the
        generic `ErrorEnvelope` because it carries a per-observation `issues`
        array rather than a free-form `details` object.
      properties:
        error:
          type: object
          properties:
            code:
              type: string
              enum:
                - ERR_STORE_RESOLUTION_FAILED
            message:
              type: string
            issues:
              type: array
              items:
                $ref: '#/components/schemas/StoreResolutionIssue'
    SplitPredicate:
      type: object
      description: |
        R5: declarative predicate describing which observations of the source
        entity should be re-pointed onto the new entity. Every form reads a
        column every observation row carries so the predicate surface is
        schema-agnostic. At least one form MUST be supplied.
      properties:
        observed_at_gte:
          type: string
          format: date-time
          description: |
            Match observations whose `observed_at` is >= this ISO-8601
            timestamp. Primary use case: "move every observation from this
            session forward onto a new entity".
        source_id_in:
          type: array
          items:
            type: string
          description: |
            Match observations whose `source_id` is one of the listed
            sources. Useful when a single over-merged entity collected
            observations from distinct sources that should live on separate
            entities.
        observation_field_equals:
          type: object
          required:
            - field
          properties:
            field:
              type: string
              description: Observation `fields.<field>` to compare.
            value:
              type: string
              description: String-equals comparison (no type coercion).
            value_starts_with:
              type: string
              description: String-prefix comparison (no type coercion).
    SplitEntityRequest:
      type: object
      required:
        - source_entity_id
        - predicate
        - new_entity
        - idempotency_key
      properties:
        source_entity_id:
          type: string
        predicate:
          $ref: '#/components/schemas/SplitPredicate'
        new_entity:
          type: object
          required:
            - entity_type
            - canonical_name
          properties:
            entity_type:
              type: string
            canonical_name:
              type: string
            target_entity_id:
              type: string
              description: |
                Optional — re-point matched observations onto a pre-existing
                entity id instead of deriving a new deterministic id.
        idempotency_key:
          type: string
          description: |
            Required per MUST #11. Reuse with a different predicate returns
            `ERR_IDEMPOTENCY_MISMATCH`; reuse with the same predicate returns
            the original split result (`replayed: true`).
        reason:
          type: string
          description: Free-text rationale recorded on the audit row.
        user_id:
          type: string
    SplitEntityResponse:
      type: object
      required:
        - split_id
        - source_entity_id
        - new_entity_id
        - observations_moved
        - split_at
        - replayed
      properties:
        split_id:
          type: string
        source_entity_id:
          type: string
        new_entity_id:
          type: string
        observations_moved:
          type: integer
          description: Number of observations whose `entity_id` was re-pointed.
        split_at:
          type: string
          format: date-time
        replayed:
          type: boolean
          description: |
            `true` when the response is an idempotent replay of a prior
            identical split (same `user_id` + `idempotency_key` + predicate).
    AgentAttribution:
      type: object
      description: |
        Agent-identity provenance recorded on every durable write-path record
        (observations, relationships, sources, interpretations, timeline
        events). Fields are stamped additively into the existing provenance
        JSON blob on each record so no schema migration was required; the
        shape below documents the keys consumers can rely on.

        When AAuth is active the `agent_*` keys carry the cryptographically
        verified identity; `client_name`/`client_version` come from the MCP
        `initialize.clientInfo` fallback and are self-reported. Every field
        is optional; callers MUST treat a missing key as "no evidence at
        that tier" and rely on `attribution_tier` for the trust signal.
      properties:
        agent_public_key:
          type: string
          description: Raw JWK-serialised public key used for the HTTP signature.
        agent_thumbprint:
          type: string
          description: RFC 7638 JWK thumbprint of `agent_public_key`; stable across sessions.
        agent_algorithm:
          type: string
          description: HTTP Message Signature algorithm (`ES256`, `EdDSA`, …).
        agent_sub:
          type: string
          description: "`sub` claim of the `aa-agent+jwt` agent token."
        agent_iss:
          type: string
          description: "`iss` claim (issuer URL) of the agent token."
        client_name:
          type: string
          description: "Self-reported MCP `initialize.clientInfo.name`. NOT verified."
        client_version:
          type: string
          description: "Self-reported MCP `initialize.clientInfo.version`."
        connection_id:
          type: string
          description: Existing OAuth connection id when the request is OAuth-authenticated.
        attribution_tier:
          type: string
          enum:
            - hardware
            - operator_attested
            - software
            - unverified_client
            - anonymous
          description: Derived trust tier; see `src/crypto/agent_identity.ts`.
        attributed_at:
          type: string
          format: date-time
          description: ISO-8601 timestamp when the attribution block was stamped.
    AttributionPolicySnapshot:
      type: object
      description: |
        Active attribution policy for the Neotoma instance. Governs how
        anonymous (unattributed) and sub-tier writes are handled on each
        write path. Ships defaults that preserve historical behaviour
        (`anonymous_writes: allow`, no `min_tier`).
      required:
        - anonymous_writes
      properties:
        anonymous_writes:
          type: string
          enum: [allow, warn, reject]
          description: |
            Global policy mode applied to writes whose resolved
            `attribution_tier` is `anonymous`.
        min_tier:
          type: string
          enum: [hardware, operator_attested, software, unverified_client]
          description: |
            Optional floor tier; writes with a resolved tier below this
            floor are rejected with `ATTRIBUTION_REQUIRED`.
        per_path:
          type: object
          additionalProperties:
            type: string
            enum: [allow, warn, reject]
          description: |
            Optional per-write-path overrides keyed by canonical write
            path (`observations`, `relationships`, `sources`,
            `interpretations`, `timeline_events`, `corrections`).
    SessionAttributionDecision:
      type: object
      description: |
        Diagnostic summary of the most recent AAuth / `clientInfo`
        resolution decision. Safe to mirror to clients; never contains
        signatures or public keys. Present only when the server has a
        decision to surface.
      required:
        - signature_present
        - signature_verified
        - resolved_tier
      properties:
        signature_present:
          type: boolean
        signature_verified:
          type: boolean
        signature_error_code:
          type: string
        client_info_raw_name:
          type: string
        client_info_normalised_to_null_reason:
          type: string
          enum: [too_generic, empty, not_a_string]
        resolved_tier:
          type: string
          enum: [hardware, operator_attested, software, unverified_client, anonymous]
        attestation:
          type: object
          nullable: true
          description: |
            Outcome of the `cnf.attestation` envelope verifier. Always
            present on AAuth-verified requests (with `verified: false,
            format: "unknown", reason: "not_present"` when no envelope
            was supplied) and absent on unsigned requests.
          required:
            - verified
            - format
          properties:
            verified:
              type: boolean
            format:
              type: string
              enum:
                - apple-secure-enclave
                - webauthn-packed
                - tpm2
                - unknown
            reason:
              type: string
              description: |
                Failure reason; only present when `verified=false`.
              enum:
                - not_present
                - unsupported_format
                - key_binding_failed
                - challenge_mismatch
                - chain_invalid
                - signature_invalid
                - aaguid_not_trusted
                - pubarea_mismatch
                - not_implemented
                - malformed
        operator_allowlist_source:
          type: string
          description: |
            Set when the operator allowlist promoted the request to
            `operator_attested`. `"issuer"` means a hit on
            `NEOTOMA_OPERATOR_ATTESTED_ISSUERS`; `"issuer_subject"` means
            a hit on `NEOTOMA_OPERATOR_ATTESTED_SUBS`.
          enum: [issuer, issuer_subject]
    SessionInfo:
      type: object
      description: |
        Resolved attribution and policy for the current session. Returned
        by `GET /session` and the MCP `get_session_identity` tool.
      required:
        - user_id
        - attribution
        - aauth
        - policy
        - eligible_for_trusted_writes
      properties:
        user_id:
          type: string
        attribution:
          type: object
          required:
            - tier
          properties:
            tier:
              type: string
              enum: [hardware, operator_attested, software, unverified_client, anonymous]
            agent_thumbprint:
              type: string
            agent_sub:
              type: string
            agent_iss:
              type: string
            agent_algorithm:
              type: string
            agent_public_key:
              type: string
            client_name:
              type: string
            client_version:
              type: string
            connection_id:
              type: string
            decision:
              nullable: true
              allOf:
                - $ref: "#/components/schemas/SessionAttributionDecision"
        aauth:
          type: object
          description: |
            AAuth admission summary. Verified means the request carried a
            verified AAuth signature. Admitted means Neotoma resolved
            that signature to one of this user's `agent_grant` entities
            and is treating the caller as authenticated. The two are
            independent: a verified-but-unmatched signature stays
            attribution-only and `admitted` is `false`.
          required:
            - verified
            - admitted
            - grant_id
            - admission_reason
          properties:
            verified:
              type: boolean
            admitted:
              type: boolean
            grant_id:
              type: string
              nullable: true
            admission_reason:
              type: string
              nullable: true
              enum:
                - admitted
                - no_grants_for_user
                - no_match
                - grant_revoked
                - grant_suspended
                - strict_rejected
                - aauth_disabled
                - not_signed
            agent_label:
              type: string
        policy:
          $ref: "#/components/schemas/AttributionPolicySnapshot"
        eligible_for_trusted_writes:
          type: boolean
          description: |
            Convenience flag mirroring the check
            `enforceAttributionPolicy('observations', identity)` would
            make on the default write path. Admission alone does NOT
            override this — admitted callers still need a tier that
            satisfies the active write attribution policy.
    AgentDirectoryEntry:
      type: object
      description: |
        One row returned by `/agents`. Aggregates a distinct agent's
        writes across observations, sources, timeline events,
        interpretations, and relationship observations.
      required:
        - agent_key
        - label
        - tier
        - first_seen_at
        - last_seen_at
        - total_records
        - record_counts
      properties:
        agent_key:
          type: string
          description: |
            Stable identifier: `thumb:<thumbprint>` |
            `sub:<subject>` | `name:<client>[@version]` | `anonymous`.
        label:
          type: string
          description: Short human-readable label for display.
        tier:
          type: string
          enum:
            - hardware
            - operator_attested
            - software
            - unverified_client
            - anonymous
        agent_thumbprint:
          type: string
          nullable: true
        agent_public_key:
          type: string
          nullable: true
        agent_algorithm:
          type: string
          nullable: true
        agent_sub:
          type: string
          nullable: true
        agent_iss:
          type: string
          nullable: true
        client_name:
          type: string
          nullable: true
        client_version:
          type: string
          nullable: true
        first_seen_at:
          type: string
          nullable: true
        last_seen_at:
          type: string
          nullable: true
        total_records:
          type: integer
        record_counts:
          type: object
          additionalProperties:
            type: integer
          description: |
            Per record-type count (`observation`, `source`,
            `interpretation`, `timeline_event`, `relationship`).
            Missing buckets mean zero.
    AgentCapabilityEntry:
      type: object
      required:
        - op
        - entity_types
      properties:
        op:
          type: string
          enum:
            - store_structured
            - create_relationship
            - correct
            - retrieve
        entity_types:
          type: array
          items:
            type: string
          description: |
            Allowed entity types for this op. The single string `*` widens
            to any entity_type that is not protected (see
            `protected_entity_types`).
    AgentGrant:
      type: object
      description: |
        First-class persistent grant that admits a verified AAuth
        identity as the owning user, with the listed capabilities. See
        `docs/subsystems/agent_attribution_integration.md` for the
        admission flow.
      required:
        - grant_id
        - user_id
        - label
        - capabilities
        - status
      properties:
        grant_id:
          type: string
        user_id:
          type: string
        label:
          type: string
        capabilities:
          type: array
          items:
            $ref: "#/components/schemas/AgentCapabilityEntry"
        status:
          type: string
          enum: [active, suspended, revoked]
        match_sub:
          type: string
          nullable: true
        match_iss:
          type: string
          nullable: true
        match_thumbprint:
          type: string
          nullable: true
        notes:
          type: string
          nullable: true
        last_used_at:
          type: string
          nullable: true
        import_source:
          type: string
          nullable: true
          description: |
            Provenance marker (e.g. `env_config`) when the grant was
            backfilled from legacy capability configuration via the
            `neotoma agents grants import` CLI.
        created_at:
          type: string
          nullable: true
        last_observation_at:
          type: string
          nullable: true
    AgentGrantCreate:
      type: object
      required:
        - label
        - capabilities
      properties:
        label:
          type: string
        capabilities:
          type: array
          items:
            $ref: "#/components/schemas/AgentCapabilityEntry"
        status:
          type: string
          enum: [active, suspended, revoked]
          default: active
        match_sub:
          type: string
          nullable: true
        match_iss:
          type: string
          nullable: true
        match_thumbprint:
          type: string
          nullable: true
        notes:
          type: string
          nullable: true
        user_id:
          type: string
          nullable: true
          description: |
            Optional owner override; only honoured when the caller is
            authenticated as that user (or the local-dev override is
            active). Admitted AAuth requests cannot pivot owners.
    AgentGrantUpdate:
      type: object
      properties:
        label:
          type: string
        capabilities:
          type: array
          items:
            $ref: "#/components/schemas/AgentCapabilityEntry"
        notes:
          type: string
          nullable: true
        match_sub:
          type: string
          nullable: true
        match_iss:
          type: string
          nullable: true
        match_thumbprint:
          type: string
          nullable: true
    Entity:
      type: object
      properties:
        id:
          type: string
        entity_type:
          type: string
        canonical_name:
          type: string
        user_id:
          type: string
        merged_to_entity_id:
          type: string
          nullable: true
        merged_at:
          type: string
          format: date-time
          nullable: true
    EntitySnapshot:
      type: object
      properties:
        entity_id:
          type: string
        entity_type:
          type: string
        schema_version:
          type: string
        snapshot:
          type: object
          additionalProperties: true
        raw_fragments:
          type: object
          additionalProperties: true
        provenance:
          type: object
          additionalProperties: true
          description: |
            Reducer provenance: a `field → observation_id` map that records
            which contributing observation produced each snapshot field.
            NOT agent-identity attribution; see `AgentAttribution` and the
            `provenance` field on the contributing `Observation` rows for
            the agent that wrote each observation.
        computed_at:
          type: string
          format: date-time
        observation_count:
          type: integer
        last_observation_at:
          type: string
          format: date-time
        canonical_name:
          type: string
          nullable: true
        merged_to_entity_id:
          type: string
          nullable: true
        merged_at:
          type: string
          format: date-time
          nullable: true
        created_at:
          type: string
          format: date-time
          nullable: true
        entity_type_label:
          type: string
          nullable: true
          description: Optional schema-derived display label for `entity_type` from `SchemaMetadata.label`.
        primary_fields:
          type: array
          nullable: true
          description: Optional ordered list of the most important snapshot fields for overview display.
          items:
            type: string
    Source:
      type: object
      properties:
        id:
          type: string
        content_hash:
          type: string
        mime_type:
          type: string
        storage_url:
          type: string
        filesystem_absolute_path:
          type: string
          description: Local storage only — absolute path to raw file on disk (sources bucket under raw storage dir).
        file_size:
          type: integer
        original_filename:
          type: string
        created_at:
          type: string
          format: date-time
        user_id:
          type: string
        provenance:
          type: object
          description: |
            Source provenance. Carries agent-identity keys (see
            `AgentAttribution`) for the agent that uploaded or synthesised
            this source, alongside any free-form metadata keys supplied by
            the ingestion pipeline.
          additionalProperties: true
          allOf:
            - $ref: '#/components/schemas/AgentAttribution'
    Observation:
      type: object
      properties:
        id:
          type: string
        entity_id:
          type: string
        entity_type:
          type: string
        schema_version:
          type: string
        source_id:
          type: string
          nullable: true
        interpretation_id:
          type: string
          nullable: true
        observed_at:
          type: string
          format: date-time
        specificity_score:
          type: number
        source_priority:
          type: integer
        observation_source:
          type: string
          nullable: true
          enum: [sensor, llm_summary, workflow_state, human, import]
          description: |
            Classifies the *kind* of write that produced this observation,
            orthogonal to `source_priority` (numeric ranking) and to
            `provenance`/AAuth (which agent wrote it). One of:

            - `sensor` — ground-truth emission from a tool, hook, webhook,
              runtime telemetry, file watcher, or scheduled probe. Not
              authored by an LLM.
            - `llm_summary` — content authored by an LLM (summaries,
              extractions, inferences, generated notes).
            - `workflow_state` — deterministic state-machine transitions
              (task status advances, node exits, pipeline step outcomes).
            - `human` — direct human write (acceptance of a suggestion,
              Inspector edit, `entities correct`, manual annotation).
            - `import` — batch ingestion / ETL / scheduled imports.

            Null / missing for legacy rows written before the field
            existed; writes default to `llm_summary` when unspecified
            because MCP callers are LLM-driven by construction.
        fields:
          type: object
          additionalProperties: true
        user_id:
          type: string
        source:
          type: string
          nullable: true
          description: Human-readable source label attached by `attachSourceLabelsToObservations`.
        provenance:
          type: object
          description: |
            Write-time agent attribution for this observation. Carries the
            `AgentAttribution` keys stamped by the AAuth middleware and
            MCP `initialize.clientInfo` fallback. Coexists with any
            free-form provenance keys supplied at write time.
          additionalProperties: true
          allOf:
            - $ref: '#/components/schemas/AgentAttribution'
    RelationshipSnapshot:
      type: object
      properties:
        relationship_key:
          type: string
        relationship_type:
          type: string
        source_entity_id:
          type: string
        target_entity_id:
          type: string
        schema_version:
          type: string
        snapshot:
          type: object
          additionalProperties: true
        computed_at:
          type: string
          format: date-time
        observation_count:
          type: integer
        last_observation_at:
          type: string
          format: date-time
        provenance:
          type: object
          additionalProperties: true
          description: |
            Reducer provenance for the relationship snapshot: a
            `field → observation_id` map. NOT agent attribution; use
            `agent_attribution` on the snapshot (and `provenance` on
            individual contributing relationship observations) to identify
            the writing agent.
        agent_attribution:
          nullable: true
          description: |
            Latest agent-identity attribution for the relationship, derived
            from the most recent contributing `relationship_observations.provenance`
            row. `null` when no contributing observation carried
            attribution keys.
          allOf:
            - $ref: '#/components/schemas/AgentAttribution'
        user_id:
          type: string
        source_entity_name:
          type: string
          nullable: true
          description: Canonical name of the source entity. Populated when `expand_entities=true`.
        source_entity_type:
          type: string
          nullable: true
        source_entity_type_label:
          type: string
          nullable: true
        target_entity_name:
          type: string
          nullable: true
          description: Canonical name of the target entity. Populated when `expand_entities=true`.
        target_entity_type:
          type: string
          nullable: true
        target_entity_type_label:
          type: string
          nullable: true
    TimelineEvent:
      type: object
      properties:
        id:
          type: string
        event_type:
          type: string
        event_timestamp:
          type: string
          format: date-time
        event_date:
          type: string
        source_id:
          type: string
        source_field:
          type: string
        entity_id:
          type: string
        created_at:
          type: string
          format: date-time
        user_id:
          type: string
        entity_ids:
          type: array
          items:
            type: string
          description: Optional; not populated by all transports. Prefer entity_id.
        properties:
          type: object
          additionalProperties: true
        provenance:
          type: object
          description: |
            Write-time agent attribution for this timeline event. Carries
            the `AgentAttribution` keys stamped by the AAuth middleware.
          additionalProperties: true
          allOf:
            - $ref: '#/components/schemas/AgentAttribution'
    EntitySchema:
      type: object
      properties:
        entity_type:
          type: string
        schema_version:
          type: string
        field_names:
          type: array
          items:
            type: string
        field_summary:
          type: object
          additionalProperties: true
    Interpretation:
      type: object
      properties:
        id:
          type: string
        source_id:
          type: string
        status:
          type: string
        created_at:
          type: string
          format: date-time
        completed_at:
          type: string
          format: date-time
        provenance:
          type: object
          description: |
            Write-time agent attribution for the interpretation run. Carries
            the `AgentAttribution` keys stamped by the AAuth middleware.
          additionalProperties: true
          allOf:
            - $ref: '#/components/schemas/AgentAttribution'
    Stats:
      type: object
      properties:
        entities:
          type: integer
        sources:
          type: integer
        observations:
          type: integer
        relationships:
          type: integer
        timeline_events:
          type: integer
        sources_count:
          type: integer
        entities_by_type:
          type: object
          additionalProperties:
            type: integer
        total_entities:
          type: integer
        total_relationships:
          type: integer
        total_events:
          type: integer
        total_observations:
          type: integer
        total_interpretations:
          type: integer
        observations_by_identity_basis:
          type: object
          description: |
            R4 telemetry: count of observations per structured identity basis.
            Keys are `schema_rule`, `heuristic_name`, `heuristic_fallback`,
            `target_id`, or `unclassified` for rows written before the
            `identity_basis` column existed.
          additionalProperties:
            type: integer
        observations_by_identity_basis_by_type:
          type: object
          description: |
            R4 telemetry: count of observations per identity basis, keyed by
            entity_type (outer) then basis (inner).
          additionalProperties:
            type: object
            additionalProperties:
              type: integer
        last_updated:
          type: string
    StoreRequest:
      type: object
      additionalProperties: false
      description: |
        Unified store payload. Supports structured only, unstructured only, or
        both in one request. Top-level field set is closed: unknown request
        fields are rejected with `ERR_UNKNOWN_FIELD` (see
        `docs/subsystems/errors.md`). Entity-level fields inside `entities[]`
        remain intentionally open so schema-driven fields flow through.
      properties:
        entities:
          type: array
          items:
            type: object
            additionalProperties: true
            description: |
              Entity payload. Fields are declared by the entity's
              `SchemaDefinition`, not by this OpenAPI shape, so the object is
              intentionally open. Put entity fields at the top level of this
              object; nesting under `attributes` (or any other wrapper) is
              not supported and returns `ERR_STORE_RESOLUTION_FAILED` with a
              structured `hint` guiding callers to flatten.
        relationships:
          type: array
          description: |
            Optional. Create relationships between entities in this request. Indices refer to the entities array (0-based).
          items:
            type: object
            required: [relationship_type, source_index, target_index]
            properties:
              relationship_type:
                type: string
                enum: [PART_OF, CORRECTS, REFERS_TO, SETTLES, DUPLICATE_OF, DEPENDS_ON, SUPERSEDES, EMBEDS, works_at, owns, manages, part_of, related_to, depends_on, references, transacted_with, member_of, reports_to, located_at, created_by, funded_by, acquired_by, subsidiary_of, partner_of, competitor_of, supplies_to, contracted_with, invested_in]
              source_index:
                type: integer
                minimum: 0
              target_index:
                type: integer
                minimum: 0
        source_priority:
          type: integer
        observation_source:
          type: string
          enum: [sensor, llm_summary, workflow_state, human, import]
          description: |
            Classifies the *kind* of write being performed, orthogonal to
            `source_priority`. See `Observation.observation_source` for
            the full semantic contract. Defaults to `llm_summary` when
            unspecified. Applies to every observation created by this
            request.
        idempotency_key:
          type: string
          description: Required for structured path, optional for unstructured-only path.
        file_idempotency_key:
          type: string
          description: Optional idempotency key for file path when sending structured + unstructured in one call.
        file_content:
          type: string
          description: Base64-encoded file content (unstructured path)
        file_path:
          type: string
          description: Local file path for server-local environments
        mime_type:
          type: string
          description: Required with file_content, optional with file_path
        original_filename:
          type: string
        user_id:
          type: string
        commit:
          type: boolean
          default: true
          description: |
            When false, runs in plan/dry-run mode: resolves entities and returns
            planned actions ("would_create" / "would_match_existing") without
            persisting observations or source rows. Useful for previewing a
            structured store before committing.
        strict:
          type: boolean
          default: false
          description: |
            When true, refuse silent merges: only match an existing entity when
            the entity's schema declares canonical_name_fields that the request
            matches, or when target_id is supplied. Prevents accidental
            coalescing into a pre-existing record.
    StoreResponse:
      type: object
      properties:
        structured:
          $ref: '#/components/schemas/StoreStructuredResponse'
        unstructured:
          $ref: '#/components/schemas/StoreUnstructuredResponse'
    StoreStructuredRequest:
      type: object
      additionalProperties: false
      required: [entities, idempotency_key]
      description: |
        Structured-only store payload. Top-level field set is closed; unknown
        request fields are rejected with `ERR_UNKNOWN_FIELD`. Entity-level
        fields inside `entities[]` remain intentionally open so
        schema-driven fields flow through (see description on `entities[]`).
      properties:
        entities:
          type: array
          items:
            type: object
            additionalProperties: true
            description: |
              Entity payload. Fields are declared by the entity's
              `SchemaDefinition`, not by this OpenAPI shape, so the object is
              intentionally open. Put entity fields at the top level of this
              object; nesting under `attributes` is not supported.
        relationships:
          type: array
          description: |
            Optional. Create relationships between entities in this request. Indices refer to the entities array (0-based).
            Enables one-call chat persistence: store [conversation, conversation_message] with relationships [{ relationship_type: "PART_OF", source_index: 1, target_index: 0 }]. (`agent_message` remains accepted as a legacy alias for pre-v0.6 clients.)
          items:
            type: object
            required: [relationship_type, source_index, target_index]
            properties:
              relationship_type:
                type: string
                enum: [PART_OF, CORRECTS, REFERS_TO, SETTLES, DUPLICATE_OF, DEPENDS_ON, SUPERSEDES, EMBEDS, works_at, owns, manages, part_of, related_to, depends_on, references, transacted_with, member_of, reports_to, located_at, created_by, funded_by, acquired_by, subsidiary_of, partner_of, competitor_of, supplies_to, contracted_with, invested_in]
              source_index:
                type: integer
                minimum: 0
                description: Index into the entities array for the source entity
              target_index:
                type: integer
                minimum: 0
                description: Index into the entities array for the target entity
        source_priority:
          type: integer
        observation_source:
          type: string
          enum: [sensor, llm_summary, workflow_state, human, import]
          description: |
            Classifies the *kind* of write being performed, orthogonal to
            `source_priority`. See `Observation.observation_source` for
            the full semantic contract. Defaults to `llm_summary` when
            unspecified. Applies to every observation created by this
            request.
        idempotency_key:
          type: string
        user_id:
          type: string
        original_filename:
          type: string
          description: |
            Optional. For agent-provided structured data, omit so the source has no filename (null).
            Pass only when mirroring a real file name or when a display label is desired.
        commit:
          type: boolean
          default: true
          description: |
            When false, runs in plan/dry-run mode: resolves entities and returns
            planned actions ("would_create" / "would_match_existing") without
            persisting observations or source rows. Useful for previewing a
            structured store before committing.
        strict:
          type: boolean
          default: false
          description: |
            When true, refuse silent merges: only match an existing entity when
            the entity's schema declares canonical_name_fields that the request
            matches, or when target_id is supplied. Prevents accidental
            coalescing into a pre-existing record.
    StoreStructuredResponse:
      type: object
      properties:
        success:
          type: boolean
        replayed:
          type: boolean
          description: |
            True when the response is an idempotency replay (no new observations
            or entities were written for this request). Consumers can use this
            to distinguish a genuine fresh commit from a replayed earlier result
            when `entities_created_count` is 0.
        entities:
          type: array
          items:
            type: object
            properties:
              entity_id:
                type: string
              entity_type:
                type: string
              observation_id:
                type: string
              canonical_name:
                type: string
              resolver_path:
                type: array
                items:
                  type: string
              identity_basis:
                type: string
                description: |
                  R4 telemetry: how the entity's identity was resolved. One of
                  `schema_rule`, `heuristic_name`, `heuristic_fallback`,
                  `target_id`.
                enum:
                  - schema_rule
                  - schema_lookup
                  - heuristic_name
                  - heuristic_fallback
                  - target_id
              identity_rule:
                type: string
                description: |
                  Human-readable label for the rule that produced the
                  canonical_name (e.g. `email`,
                  `composite:full_name+employer`, `first_string_field:name`).
              action:
                type: string
              warnings:
                type: array
                description: |
                  R3 non-fatal resolver warnings for this observation. Present
                  when the entity's active schema declares
                  `name_collision_policy: "warn"` and resolution landed on an
                  existing entity via a heuristic path. PII-free by construction
                  (never embeds canonical_name content or extracted field
                  values). See
                  `.cursor/plans/conversation_entity_collision_fix_aef8ba0d.plan.md`.
                items:
                  $ref: '#/components/schemas/ResolverWarning'
        warnings:
          type: array
          description: |
            Batch-aggregated non-fatal resolver warnings (R3). Mirrors each
            entity's `entities[].warnings` with `observation_index` and
            `entity_id` attached so callers can audit identity quality without
            walking every entity trace.
          items:
            allOf:
              - $ref: '#/components/schemas/ResolverWarning'
              - type: object
                properties:
                  observation_index:
                    type: integer
                  entity_id:
                    type: string
    ResolverWarning:
      type: object
      description: |
        Non-fatal warning emitted by entity resolution when a schema declares
        `name_collision_policy: "warn"` and the caller's payload matched an
        existing entity via a heuristic (non `schema_rule`) path. Shape is
        intentionally PII-free so it can be forwarded to dashboards, logs, and
        downstream agents without redaction.
      required:
        - code
        - policy
        - entity_type
        - identity_basis
        - identity_rule
      properties:
        code:
          type: string
          enum:
            - HEURISTIC_MERGE
        policy:
          type: string
          enum:
            - warn
        entity_type:
          type: string
        identity_basis:
          type: string
          enum:
            - schema_rule
            - schema_lookup
            - heuristic_name
            - heuristic_fallback
            - target_id
        identity_rule:
          type: string
    StoreUnstructuredRequest:
      type: object
      additionalProperties: false
      required: [file_content, mime_type]
      description: |
        Unstructured-only store payload. Closed shape; unknown top-level
        fields are rejected with `ERR_UNKNOWN_FIELD`.
      properties:
        file_content:
          type: string
          description: Base64-encoded file content
        mime_type:
          type: string
          description: MIME type of the file
        idempotency_key:
          type: string
          description: Optional idempotency key; if omitted, content hash is used
        original_filename:
          type: string
          description: Run AI interpretation after store
        user_id:
          type: string
          format: uuid
    StoreUnstructuredResponse:
      type: object
      properties:
        source_id:
          type: string
        content_hash:
          type: string
        file_size:
          type: integer
        deduplicated:
          type: boolean
        interpretation:
          type: object
          additionalProperties: true
        entity_ids:
          type: array
          items:
            type: string
    GetRelationshipSnapshotRequest:
      type: object
      additionalProperties: false
      required: [relationship_type, source_entity_id, target_entity_id]
      properties:
        relationship_type:
          type: string
          enum: [PART_OF, CORRECTS, REFERS_TO, SETTLES, DUPLICATE_OF, DEPENDS_ON, SUPERSEDES, EMBEDS, works_at, owns, manages, part_of, related_to, depends_on, references, transacted_with, member_of, reports_to, located_at, created_by, funded_by, acquired_by, subsidiary_of, partner_of, competitor_of, supplies_to, contracted_with, invested_in]
        source_entity_id:
          type: string
        target_entity_id:
          type: string
        user_id:
          type: string
          description: Optional tenant override for read-scope endpoints. Usual auth precedence applies; see docs/subsystems/auth.md.
    GetRelationshipSnapshotResponse:
      type: object
      required: [snapshot, observations]
      properties:
        snapshot:
          $ref: '#/components/schemas/RelationshipSnapshot'
        observations:
          type: array
          items:
            type: object
            properties:
              id: { type: string }
              source_id: { type: string }
              observed_at: { type: string }
              specificity_score: { type: number }
              source_priority: { type: number }
              metadata: { type: object }
    OAuthInitiateRequest:
      type: object
      additionalProperties: false
      required: [connection_id]
      properties:
        connection_id:
          type: string
        client_name:
          type: string
        redirect_uri:
          type: string
    OAuthInitiateResponse:
      type: object
      properties:
        auth_url:
          type: string
        connection_id:
          type: string
        expires_at:
          type: string
          format: date-time
    OAuthStatusResponse:
      type: object
      properties:
        status:
          type: string
        connection_id:
          type: string
paths:
  /get_file_url:
    get:
      summary: Get signed file URL
      description: Provide a storage path like "files/<source_id>/<filename>".
      operationId: getFileUrl
      parameters:
        - in: query
          name: file_path
          required: true
          schema: { type: string }
        - in: query
          name: expires_in
          required: false
          schema: { type: integer }
      responses:
        '200':
          description: Signed URL
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileUrlResponse'
        '400':
          description: Invalid parameters
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '401':
          description: Missing or invalid bearer token
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /health:
    get:
      summary: Health check
      operationId: healthCheck
      security: []
      responses:
        '200':
          description: Server is healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean

  /openapi.yaml:
    get:
      summary: Get OpenAPI specification
      operationId: getOpenApiSpec
      security: []
      responses:
        '200':
          description: OpenAPI specification in YAML
          content:
            application/yaml:
              schema:
                type: string

  /server-info:
    get:
      summary: Get server info
      operationId: getServerInfo
      responses:
        '200':
          description: Server info
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                properties:
                  neotoma_env:
                    type: string
                    description: Resolved NEOTOMA_ENV for this process (development or production).

  /mcp/oauth/initiate:
    post:
      summary: Initiate MCP OAuth flow
      operationId: mcpOAuthInitiate
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/OAuthInitiateRequest' }
      responses:
        '200':
          description: OAuth initiation result
          content:
            application/json:
              schema: { $ref: '#/components/schemas/OAuthInitiateResponse' }
        '400':
          description: Invalid request
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorEnvelope' }

  /mcp/oauth/authorize:
    get:
      summary: OAuth authorization endpoint
      operationId: mcpOAuthAuthorize
      parameters:
        - in: query
          name: redirect_uri
          required: true
          schema: { type: string }
        - in: query
          name: state
          required: true
          schema: { type: string }
        - in: query
          name: code_challenge
          required: true
          schema: { type: string }
        - in: query
          name: code_challenge_method
          required: true
          schema: { type: string }
        - in: query
          name: client_id
          required: false
          schema: { type: string }
        - in: query
          name: dev_stub
          required: false
          schema: { type: string }
      responses:
        '302':
          description: Redirect to authorization URL

  /mcp/oauth/token:
    post:
      summary: OAuth token exchange
      operationId: mcpOAuthToken
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                grant_type:
                  type: string
                code:
                  type: string
      responses:
        '200':
          description: OAuth token response
          content:
            application/json:
              schema:
                type: object
                properties:
                  access_token:
                    type: string
                  token_type:
                    type: string
                  expires_in:
                    type: integer
        '400':
          description: Token exchange error
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true

  /me:
    get:
      summary: Get current authenticated user
      operationId: getMe
      responses:
        '200':
          description: Current user details
          content:
            application/json:
              schema:
                type: object
                properties:
                  user_id:
                    type: string
                  email:
                    type: string
                  storage:
                    type: object
                    properties:
                      storage_backend:
                        type: string
                        enum: [local]
                      data_dir:
                        type: string
                      sqlite_db:
                        type: string
        '401':
          description: Not authenticated
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /mcp/oauth/status:
    get:
      summary: Get OAuth connection status
      operationId: mcpOAuthStatus
      parameters:
        - in: query
          name: connection_id
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Connection status
          content:
            application/json:
              schema: { $ref: '#/components/schemas/OAuthStatusResponse' }
        '400':
          description: Invalid request
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorEnvelope' }

  /mcp/oauth/connections:
    get:
      summary: List OAuth connections
      operationId: mcpOAuthListConnections
      responses:
        '200':
          description: Connection list
          content:
            application/json:
              schema:
                type: object
                properties:
                  connections:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
        '401':
          description: Unauthorized
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /mcp/oauth/connections/{connection_id}:
    delete:
      summary: Revoke OAuth connection
      operationId: mcpOAuthRevokeConnection
      parameters:
        - in: path
          name: connection_id
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Revoked
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean

  /.well-known/oauth-authorization-server:
    get:
      summary: OAuth 2.0 Authorization Server Metadata (RFC 8414)
      operationId: oauthServerMetadata
      responses:
        '200':
          description: Authorization server metadata
          content:
            application/json:
              schema:
                type: object

  /.well-known/oauth-protected-resource:
    get:
      summary: OAuth 2.0 Protected Resource Metadata
      operationId: oauthProtectedResource
      responses:
        '200':
          description: Protected resource metadata
          content:
            application/json:
              schema:
                type: object

  /mcp/oauth/callback:
    get:
      summary: OAuth callback endpoint
      operationId: mcpOAuthCallback
      parameters:
        - in: query
          name: code
          schema: { type: string }
        - in: query
          name: state
          schema: { type: string }
      responses:
        '302':
          description: Redirect after OAuth callback

  /mcp/oauth/key-auth:
    get:
      summary: Key-based authorization page (GET)
      operationId: mcpOAuthKeyAuthGet
      parameters:
        - in: query
          name: next
          schema: { type: string }
      responses:
        '200':
          description: Key auth HTML page
          content:
            text/html:
              schema: { type: string }
    post:
      summary: Key-based authorization submission (POST)
      operationId: mcpOAuthKeyAuthPost
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                next:
                  type: string
                key:
                  type: string
      responses:
        '302':
          description: Redirect after key auth

  /mcp/oauth/local-login:
    get:
      summary: Local login for development (auto-creates dev user)
      operationId: mcpOAuthLocalLogin
      responses:
        '302':
          description: Redirect after local login

  /mcp/oauth/register:
    post:
      summary: Dynamic Client Registration (RFC 7591)
      operationId: mcpOAuthRegister
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                client_name:
                  type: string
                redirect_uris:
                  type: array
                  items: { type: string }
      responses:
        '201':
          description: Client registered
          content:
            application/json:
              schema:
                type: object

  /mcp/oauth/authorization-details:
    get:
      summary: Authorization details proxy
      operationId: mcpOAuthAuthorizationDetails
      responses:
        '200':
          description: Authorization details
          content:
            application/json:
              schema:
                type: object

  /auth/dev-signin:
    post:
      summary: Dev-only sign-in endpoint (development mode only)
      operationId: devSignIn
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                user_id:
                  type: string
      responses:
        '200':
          description: Signed in
          content:
            application/json:
              schema:
                type: object

  /entities/query:
    post:
      summary: Query entities
      operationId: queryEntities
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                entity_type:
                  type: string
                search:
                  type: string
                  description: Canonical free-text query parameter for retrieval relevance.
                query:
                  type: string
                  description: Compatibility alias for `search`.
                search_query:
                  type: string
                  description: Compatibility alias for `search`.
                limit:
                  type: integer
                offset:
                  type: integer
                sort_by:
                  type: string
                  enum:
                  - entity_id
                  - canonical_name
                  - observation_count
                  - last_observation_at
                  description: "Non-default values cannot be combined with `search`."
                sort_order:
                  type: string
                  enum:
                  - asc
                  - desc
                  description: "`desc` cannot be combined with `search`."
                published:
                  type: boolean
                  description: "Cannot be combined with `search`."
                published_after:
                  type: string
                  description: "Inclusive lower bound for snapshot.published_date (ISO date or datetime string). Cannot be combined with `search`."
                published_before:
                  type: string
                  description: "Inclusive upper bound for snapshot.published_date (ISO date or datetime string). Cannot be combined with `search`."
                include_snapshots:
                  type: boolean
                  description: When false, omit snapshot/provenance/raw_fragments payloads for lighter responses.
                include_merged:
                  type: boolean
                user_id:
                  type: string
                updated_since:
                  type: string
                  description: |
                    ISO 8601 timestamp. Return only entities whose
                    updated_at is greater than or equal to this value.
                created_since:
                  type: string
                  description: |
                    ISO 8601 timestamp. Return only entities whose
                    created_at is greater than or equal to this value.
                identity_basis:
                  type: string
                  enum:
                    - schema_rule
                    - schema_lookup
                    - heuristic_name
                    - heuristic_fallback
                    - target_id
                  description: |
                    R3: return only entities that have at least one
                    observation resolved with the given `identity_basis`.
                    Primary use case is the Inspector "ambiguous / heuristic
                    resolution" filter so operators can audit entities that
                    were matched by name/title rather than by a schema rule.
      responses:
        '200':
          description: Entity list
          content:
            application/json:
              schema:
                type: object
                properties:
                  entities:
                    type: array
                    items:
                      $ref: '#/components/schemas/EntitySnapshot'
                  total:
                    type: integer
                  limit:
                    type: integer
                  offset:
                    type: integer

  /entities/{id}:
    get:
      summary: Get entity by ID
      operationId: getEntityById
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string }
        - in: query
          name: user_id
          required: false
          description: Optional user scope. When omitted the authenticated user is used.
          schema: { type: string }
      responses:
        '200':
          description: Entity
          content:
            application/json:
              schema: { $ref: '#/components/schemas/EntitySnapshot' }
        '404':
          description: Entity not found
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorEnvelope' }

  /entities/{id}/observations:
    get:
      summary: List observations for entity
      operationId: getEntityObservations
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Observations
          content:
            application/json:
              schema:
                type: object
                properties:
                  observations:
                    type: array
                    items:
                      $ref: '#/components/schemas/Observation'

  /entities/{id}/relationships:
    get:
      summary: List relationships for entity
      operationId: getEntityRelationships
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string }
        - in: query
          name: expand_entities
          required: false
          description: >
            When `true`, the response includes `related_entities` keyed by
            entity_id and decorates each relationship row with convenience
            top-level fields (`source_entity_name`, `target_entity_name`,
            `source_entity_type`, `target_entity_type`, and their labels).
          schema: { type: boolean }
      responses:
        '200':
          description: Relationships
          content:
            application/json:
              schema:
                type: object
                properties:
                  outgoing:
                    type: array
                    items:
                      $ref: '#/components/schemas/RelationshipSnapshot'
                  incoming:
                    type: array
                    items:
                      $ref: '#/components/schemas/RelationshipSnapshot'
                  relationships:
                    type: array
                    items:
                      $ref: '#/components/schemas/RelationshipSnapshot'
                  related_entities:
                    type: object
                    nullable: true
                    description: Keyed by entity_id; present when `expand_entities=true` and related entities were found.
                    additionalProperties:
                      type: object
                      properties:
                        entity_id:
                          type: string
                        entity_type:
                          type: string
                          nullable: true
                        canonical_name:
                          type: string
                          nullable: true
                        snapshot:
                          type: object
                          additionalProperties: true
                        entity_type_label:
                          type: string
                          nullable: true

  /entities/duplicates:
    get:
      summary: List potential duplicate entities for a given entity_type (R5).
      description: >
        Read-only fuzzy duplicate detector. Surfaces candidate pairs for
        operator or agent review and hands off to `/entities/merge`. Never
        auto-merges. Per-schema thresholds and fields may be declared via
        `duplicate_detection_threshold` and `duplicate_detection_fields` on
        the schema definition; callers may override `threshold` per call.
      operationId: listPotentialDuplicates
      parameters:
        - in: query
          name: entity_type
          required: true
          schema: { type: string }
        - in: query
          name: user_id
          required: false
          schema: { type: string }
        - in: query
          name: threshold
          required: false
          description: Similarity threshold in (0, 1]. Defaults to the schema's `duplicate_detection_threshold` or 0.85.
          schema:
            type: number
            minimum: 0
            maximum: 1
        - in: query
          name: limit
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 200
      responses:
        '200':
          description: Ranked list of candidate duplicate pairs.
          content:
            application/json:
              schema:
                type: object
                properties:
                  candidates:
                    type: array
                    items:
                      type: object
                      properties:
                        entity_a:
                          type: object
                          properties:
                            id: { type: string }
                            canonical_name: { type: string }
                            snapshot_fields:
                              type: object
                              additionalProperties: true
                        entity_b:
                          type: object
                          properties:
                            id: { type: string }
                            canonical_name: { type: string }
                            snapshot_fields:
                              type: object
                              additionalProperties: true
                        score:
                          type: number
                        matched_fields:
                          type: array
                          items: { type: string }
                        entity_type:
                          type: string
                  entity_type:
                    type: string
                  threshold:
                    type: number

  /entities/merge:
    post:
      summary: Merge duplicate entities
      operationId: mergeEntities
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                from_entity_id:
                  type: string
                to_entity_id:
                  type: string
                merge_reason:
                  type: string
                user_id:
                  type: string
      responses:
        '200':
          description: Merge result
          content:
            application/json:
              schema:
                type: object
                properties:
                  observations_moved:
                    type: integer
                  merged_at:
                    type: string
                    format: date-time

  /entities/split:
    post:
      summary: |
        Split a subset of an entity's observations onto a new entity (R5). Inverse
        of `/entities/merge`: repairs over-merges (typically from pre-v1.2
        heuristic `name_key:title` resolution on session-scoped schemas) by
        re-pointing the `entity_id` foreign key on matching observations
        without modifying any observation content.
      operationId: splitEntity
      description: |
        Symmetric with the merge flow documented in
        `docs/subsystems/entity_merge.md` § 4.3. Exactly one split per
        `(user_id, idempotency_key)` — reuse of the key with a different
        predicate returns `ERR_IDEMPOTENCY_MISMATCH`. The server:
        1. Validates the source entity exists and is not already merged-away.
        2. Selects observations matching `predicate` (schema-agnostic —
           predicate reads columns every observation row carries).
        3. Re-points the `entity_id` FK on matched observations to
           `new_entity.target_entity_id` when supplied, otherwise to a
           deterministic new id derived from
           `(new_entity.entity_type, new_entity.canonical_name)`.
        4. Invalidates both source + new snapshots and recomputes from the
           reduced observation sets.
        5. Inserts a `entity_splits` audit row for auditability.

        No observation content (`fields`, `observed_at`, `source_id`,
        `interpretation_id`) is ever modified — the immutability guarantee
        consumers rely on is preserved. Typed relationships remain bound to
        the source entity; callers are responsible for rebuilding edges onto
        the new entity via `create_relationship`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SplitEntityRequest'
      responses:
        '200':
          description: Split result (or idempotent replay).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SplitEntityResponse'
        '400':
          description: |
            Invalid predicate, idempotency mismatch, or the predicate matched
            zero / all observations.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '404':
          description: Source entity not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'

  /sources:
    get:
      summary: List sources
      operationId: listSources
      parameters:
        - in: query
          name: user_id
          required: false
          schema: { type: string }
        - in: query
          name: search
          required: false
          schema: { type: string }
        - in: query
          name: mime_type
          required: false
          schema: { type: string }
        - in: query
          name: source_type
          required: false
          schema: { type: string }
        - in: query
          name: limit
          required: false
          schema: { type: integer }
        - in: query
          name: offset
          required: false
          schema: { type: integer }
      responses:
        '200':
          description: Sources
          content:
            application/json:
              schema:
                type: object
                properties:
                  sources:
                    type: array
                    items:
                      $ref: '#/components/schemas/Source'

  /sources/{id}:
    get:
      summary: Get source by ID
      operationId: getSourceById
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Source
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Source' }

  /sources/{id}/relationships:
    get:
      summary: List relationships tied to a source
      description: >-
        Returns relationship snapshots where either (a) a relationship_observation
        row was stamped with this source_id, or (b) the relationship touches an entity
        that has an observation from this source.
      operationId: getSourceRelationships
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string }
        - in: query
          name: expand_entities
          required: false
          schema: { type: boolean, default: false }
        - in: query
          name: user_id
          required: false
          schema: { type: string }
      responses:
        '200':
          description: Relationships and optional related entity expansions
          content:
            application/json:
              schema:
                type: object
                properties:
                  relationships:
                    type: array
                    items: { $ref: '#/components/schemas/RelationshipSnapshot' }
                  related_entities:
                    type: object
                    additionalProperties: true

  /observations:
    get:
      summary: List observations
      operationId: listObservations
      parameters:
        - in: query
          name: user_id
          required: false
          schema: { type: string }
        - in: query
          name: source_id
          required: false
          schema: { type: string }
        - in: query
          name: entity_id
          required: false
          schema: { type: string }
        - in: query
          name: limit
          required: false
          schema: { type: integer }
        - in: query
          name: offset
          required: false
          schema: { type: integer }
      responses:
        '200':
          description: Observations
          content:
            application/json:
              schema:
                type: object
                properties:
                  observations:
                    type: array
                    items:
                      $ref: '#/components/schemas/Observation'

  /observations/query:
    post:
      summary: Query observations
      operationId: queryObservations
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                entity_id:
                  type: string
                entity_type:
                  type: string
                limit:
                  type: integer
                offset:
                  type: integer
                user_id:
                  type: string
                updated_since:
                  type: string
                  description: |
                    ISO 8601 timestamp. Return only observations whose
                    observed_at is greater than or equal to this value.
                    (Observations are immutable, so updated_since and
                    created_since both filter observed_at.)
                created_since:
                  type: string
                  description: |
                    ISO 8601 timestamp. Return only observations whose
                    observed_at is greater than or equal to this value.
      responses:
        '200':
          description: Observations
          content:
            application/json:
              schema:
                type: object
                properties:
                  observations:
                    type: array
                    items:
                      $ref: '#/components/schemas/Observation'
                  total:
                    type: integer
                  limit:
                    type: integer
                  offset:
                    type: integer

  /record_activity:
    get:
      summary: Recent cross-table record activity
      description: |
        Lists the most recently changed records across core Neotoma tables
        (entities, sources, observations, interpretations, relationships,
        timeline_events) for the authenticated user, ordered by latest
        created/updated timestamp available on each table.         Powers the
        Inspector's "Activity" panel and the MCP `list_recent_changes`
        tool.
      operationId: getRecordActivity
      parameters:
        - in: query
          name: user_id
          required: false
          schema: { type: string }
        - in: query
          name: record_types
          required: false
          description: |
            Comma-separated subset of record_type values to include. Omit for all types.
          schema:
            type: string
            example: entity,source,observation
        - in: query
          name: limit
          required: false
          schema: { type: integer }
        - in: query
          name: offset
          required: false
          schema: { type: integer }
      responses:
        '200':
          description: Recent record activity
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      type: object
                      properties:
                        record_type:
                          type: string
                          enum:
                            - entity
                            - source
                            - observation
                            - interpretation
                            - timeline_event
                            - relationship
                        id:
                          type: string
                        activity_at:
                          type: string
                        title:
                          type: string
                        subtitle:
                          type: string
                          nullable: true
                        entity_id:
                          type: string
                          nullable: true
                        entity_name:
                          type: string
                          nullable: true
                        entity_type:
                          type: string
                          nullable: true
                        source_id:
                          type: string
                          nullable: true
                        source_filename:
                          type: string
                          nullable: true
                        source_type:
                          type: string
                          nullable: true
                        source_entity_id:
                          type: string
                          nullable: true
                        source_entity_name:
                          type: string
                          nullable: true
                        target_entity_id:
                          type: string
                          nullable: true
                        target_entity_name:
                          type: string
                          nullable: true
                        relationship_type:
                          type: string
                          nullable: true
                        event_type:
                          type: string
                          nullable: true
                        status:
                          type: string
                          nullable: true
                        turn_key:
                          type: string
                          nullable: true
                        group_key:
                          type: string
                          nullable: true
                        attribution_tier:
                          type: string
                          nullable: true
                          enum:
                            - hardware
                            - operator_attested
                            - software
                            - unverified_client
                            - anonymous
                          description: |
                            Derived agent trust tier for this record, pulled
                            from the row-level `AgentAttribution` provenance.
                            Null when the record type does not carry
                            attribution or predates AAuth.
                        agent_label:
                          type: string
                          nullable: true
                          description: |
                            Best-effort human-readable agent label. Priority:
                            `client_name` (+ `client_version`) → `agent_sub` →
                            shortened `agent_thumbprint`.
                  has_more:
                    type: boolean
                  limit:
                    type: integer
                  offset:
                    type: integer

  /agents:
    get:
      summary: List agents (writers) seen across the write-path tables
      description: |
        Returns distinct agents identified from the `AgentAttribution`
        provenance stamped by the AAuth middleware and the MCP
        `initialize.clientInfo` fallback. Agents are aggregated across
        observations, sources, timeline events, interpretations, and
        relationship observations. The `agent_key` is stable across
        calls and may be used for the `/agents/{key}` lookup.
      parameters:
        - in: query
          name: user_id
          schema:
            type: string
          required: false
      responses:
        "200":
          description: Agent directory
          content:
            application/json:
              schema:
                type: object
                properties:
                  agents:
                    type: array
                    items:
                      $ref: "#/components/schemas/AgentDirectoryEntry"
                  total:
                    type: integer

  /agents/grants:
    get:
      summary: List agent grants for the authenticated user
      description: |
        Returns the user's `agent_grant` entities. Grants gate AAuth
        admission: a request signed by an agent identity that matches an
        `active` grant authenticates as the grant's owning user, with the
        capabilities listed on the grant. Suspended and revoked grants
        are returned for inspection but never admit a request.
      operationId: listAgentGrants
      parameters:
        - in: query
          name: user_id
          schema:
            type: string
          required: false
        - in: query
          name: status
          schema:
            type: string
            enum: [active, suspended, revoked, all]
          required: false
        - in: query
          name: q
          schema:
            type: string
          required: false
          description: Substring filter against `label`, `match_sub`, or `match_thumbprint`.
      responses:
        "200":
          description: Grant list
          content:
            application/json:
              schema:
                type: object
                properties:
                  grants:
                    type: array
                    items:
                      $ref: "#/components/schemas/AgentGrant"
    post:
      summary: Create an agent grant
      description: |
        Creates a new `agent_grant` for the authenticated user. At least
        one of `match_sub` or `match_thumbprint` must be supplied. The
        grant's `capabilities` follow the same shape used by the
        admitted-request authorization check.
      operationId: createAgentGrant
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AgentGrantCreate"
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  grant:
                    $ref: "#/components/schemas/AgentGrant"
        "400":
          description: Validation error (e.g. `agent_grant_invalid`)
        "409":
          description: Identity already mapped to another grant for this user

  /agents/grants/{id}:
    get:
      summary: Get one agent grant
      operationId: getAgentGrant
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
        - in: query
          name: user_id
          schema:
            type: string
          required: false
      responses:
        "200":
          description: Grant detail
          content:
            application/json:
              schema:
                type: object
                properties:
                  grant:
                    $ref: "#/components/schemas/AgentGrant"
        "404":
          description: Grant not found for this user
    patch:
      summary: Update editable fields on an agent grant
      description: |
        Patches `label`, `capabilities`, `notes`, or any of the
        `match_*` identity fields. Status transitions go through the
        dedicated `suspend`, `revoke`, and `restore` endpoints.
      operationId: updateAgentGrant
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AgentGrantUpdate"
      responses:
        "200":
          description: Updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  grant:
                    $ref: "#/components/schemas/AgentGrant"
        "400":
          description: Validation error
        "404":
          description: Grant not found for this user

  /agents/grants/{id}/suspend:
    post:
      summary: Suspend an agent grant
      description: |
        Sets the grant's `status` to `suspended`. Suspended grants do
        not admit requests, but can be restored later.
      operationId: suspendAgentGrant
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Suspended
          content:
            application/json:
              schema:
                type: object
                properties:
                  grant:
                    $ref: "#/components/schemas/AgentGrant"

  /agents/grants/{id}/revoke:
    post:
      summary: Revoke an agent grant
      description: |
        Sets the grant's `status` to `revoked`. Revoked grants stay in
        history for audit but never admit a request.
      operationId: revokeAgentGrant
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Revoked
          content:
            application/json:
              schema:
                type: object
                properties:
                  grant:
                    $ref: "#/components/schemas/AgentGrant"

  /agents/grants/{id}/restore:
    post:
      summary: Restore an agent grant to active
      description: |
        Transitions a `suspended` or `revoked` grant back to `active`.
      operationId: restoreAgentGrant
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Restored
          content:
            application/json:
              schema:
                type: object
                properties:
                  grant:
                    $ref: "#/components/schemas/AgentGrant"

  /agents/{key}:
    get:
      summary: Get one agent's directory entry
      parameters:
        - in: path
          name: key
          required: true
          schema:
            type: string
          description: |
            URL-encoded `agent_key` returned by `/agents`. Format:
            `thumb:<thumbprint>`, `sub:<subject>`, `name:<client>[@version]`,
            or `anonymous`.
        - in: query
          name: user_id
          schema:
            type: string
          required: false
      responses:
        "200":
          description: Agent details
          content:
            application/json:
              schema:
                type: object
                properties:
                  agent:
                    $ref: "#/components/schemas/AgentDirectoryEntry"
        "404":
          description: Unknown agent key

  /agents/{key}/records:
    get:
      summary: Records written by a specific agent
      description: |
        Returns observations, sources, interpretations, timeline events,
        and relationship observations that carry this agent's provenance.
        The shape matches `/record_activity` so clients can reuse the
        same activity feed renderer.
      parameters:
        - in: path
          name: key
          required: true
          schema:
            type: string
        - in: query
          name: user_id
          schema:
            type: string
          required: false
        - in: query
          name: limit
          schema:
            type: integer
        - in: query
          name: offset
          schema:
            type: integer
      responses:
        "200":
          description: Records scoped to this agent
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      type: object
                  has_more:
                    type: boolean
                  limit:
                    type: integer
                  offset:
                    type: integer

  /recent_conversations:
    get:
      summary: Recent conversations with nested messages
      description: |
        Lists `conversation` entities for the authenticated user ordered by
        their latest activity (conversation-level activity or the latest
        activity of any `conversation_message` — or legacy `agent_message` —
        that is `PART_OF` that conversation). Each conversation includes its
        messages in reverse chronological order, and each message includes
        non-`PART_OF` entities linked from that message.
        Powers the Inspector recent conversations view and dashboard widget.
      operationId: getRecentConversations
      parameters:
        - in: query
          name: user_id
          required: false
          schema: { type: string }
        - in: query
          name: limit
          required: false
          schema: { type: integer }
        - in: query
          name: offset
          required: false
          schema: { type: integer }
        - in: query
          name: activity_after
          required: false
          description: Inclusive lower bound on conversation activity (ISO 8601)
          schema: { type: string }
        - in: query
          name: activity_before
          required: false
          description: Inclusive upper bound on conversation activity (ISO 8601)
          schema: { type: string }
        - in: query
          name: agent_key
          required: false
          description: Filter by latest observation attribution key (same as GET /agents `agent_key`)
          schema: { type: string }
      responses:
        '200':
          description: Recent conversations
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      type: object
                      properties:
                        conversation_id:
                          type: string
                        canonical_name:
                          type: string
                          nullable: true
                        title:
                          type: string
                          nullable: true
                        activity_at:
                          type: string
                        message_count:
                          type: integer
                        latest_write_provenance:
                          type: object
                          nullable: true
                          additionalProperties: true
                        messages:
                          type: array
                          items:
                            type: object
                            properties:
                              message_id:
                                type: string
                              canonical_name:
                                type: string
                                nullable: true
                              role:
                                type: string
                                nullable: true
                              content:
                                type: string
                                nullable: true
                              turn_key:
                                type: string
                                nullable: true
                              activity_at:
                                type: string
                              related_entities:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    entity_id:
                                      type: string
                                    entity_type:
                                      type: string
                                      nullable: true
                                    canonical_name:
                                      type: string
                                      nullable: true
                                    title:
                                      type: string
                                      nullable: true
                                    relationship_type:
                                      type: string
                  has_more:
                    type: boolean
                  limit:
                    type: integer
                  offset:
                    type: integer

  /observations/create:
    post:
      summary: Create observation
      operationId: createObservation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: Observation created
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true

  /relationships:
    get:
      summary: List relationships
      operationId: listRelationships
      responses:
        '200':
          description: Relationships
          content:
            application/json:
              schema:
                type: object
                properties:
                  relationships:
                    type: array
                    items:
                      $ref: '#/components/schemas/RelationshipSnapshot'

  /relationships/{id}:
    get:
      summary: Get relationship by ID
      operationId: getRelationshipById
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Relationship
          content:
            application/json:
[...]
